<table class="table">
    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Pages</th>
        <th scope="col">Total cost</th>
        <th scope="col">Deadline</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    {% for order in in_review %}
        <tr>
            <td>
                <a href="{% url 'customer:order-preview' order.id %}" class="text-primary">
                    {{ order.title }}
                </a>
            </td>
            <td>{{ order.number_page }}</td>
            <td>${{ order.total_cost|floatformat }}</td>
            <td>{{ order.deadline|date:"H:m d M" }}</td>
            <td>
                {% if order.status == 0 %}
                    Search
                {% elif order.status == 3 %}
                    Checking
                {% endif %}
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>