<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <table class="table">
        {% for field in new_order %}
            <tr>
                <td width="128">{{ field.label }}</td>
                <td>{{ field }}</td>
            </tr>
            {% if field.errors %}
                <tr>
                    <td></td>
                    <td>{{ field.errors }}</td>
                </tr>
            {% endif %}
        {% endfor %}
        <tr>
            <td width="128">Per page: <small id="per_page"></small></td>
            <td>Total cost: <small id="total_cost"></small></td>
        </tr>
        <tr>
            <td><label for="id_attached-files">Attached files</label></td>
            <td>
                <input type="file" name="attached-files" id="id_attached-files" multiple>
                <small>.xls .docx .pdf .xlsx</small>
            </td>
        </tr>
    </table>
    <button type="submit" class="btn bg-btn">Send</button>
</form>