{% load static %}

<div class="view jarallax" style="height: 100vh;">
    <img class="jarallax-img" src="{% static 'img/bg2.jpg' %}" alt="">
    <div class="mask text-white rgba-black-strong">
        <div class="container flex-center">
            <div class="row mt-5">
                <div class="col-md-12 wow fadeIn mb-3">

                    <section class="my-5">

                        <h2 class="h1-responsive font-weight-bold text-center my-5">How it works</h2>

                        <div class="row">

                            <div class="col-lg-5 text-center text-lg-left">
                                <img class="img-fluid"
                                     src="{% static 'img/work.png' %}"
                                     alt="Sample image">
                            </div>

                            <div class="col-lg-7">

                                <div class="row mb-3">

                                    <div class="col-1 text-center">
                                        <p class="btn-floating peach-gradient"><i class="white-text">1</i></p>
                                    </div>

                                    <div class="col-xl-10 col-md-11 col-10">
                                        <h5 class="font-weight-bold mb-3">Order a paper</h5>
                                        <p class="grey-text">
                                            Place your order choosing the paper type, page number, format and deadline.
                                            Then provide more details, requirements to your order and attach files if
                                            needed. And make sure that your account has enough amount to send the order
                                            for reviewing.
                                        </p>
                                    </div>

                                </div>

                                <div class="row mb-3">

                                    <div class="col-1">
                                        <p class="btn-floating peach-gradient"><i class="white-text">2</i></p>
                                    </div>

                                    <div class="col-xl-10 col-md-11 col-10">
                                        <h5 class="font-weight-bold mb-3">Track the status of your order</h5>
                                        <p class="grey-text">
                                            There are three statuses of orders: Order in review (Your order is reviewing
                                            by us), Order in progress (Your work is being handled by our writers),
                                            Completed (Your order is completed). Each time when changing your order`s
                                            status, you will be notified by email.
                                        </p>
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-1">
                                        <p class="btn-floating peach-gradient"><i class="white-text">3</i></p>
                                    </div>

                                    <div class="col-xl-10 col-md-11 col-10">
                                        <h5 class="font-weight-bold mb-3">Receive your order</h5>
                                        <p class="grey-text mb-0">
                                            After completing your order, you can download it!
                                        </p>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </section>

                </div>
            </div>
        </div>
    </div>
</div>