<!-- Section: Features v.3 -->
<section class="my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center my-5">What we can offer?</h2>
    <!-- Section description -->
    <p class="lead grey-text text-center w-responsive mx-auto mb-5">
        Unlike others, we aren’t chasing quantity but we aim to cater to quality. We provide services that are
        superior in nature and make us stand out from the crowd. We offer:
    </p>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-lg-5 text-center text-lg-left">
            <img class="img-fluid" src="https://essayroyal.com/assets/front/images/laptop.png"
                 alt="Sample image">
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-lg-7">

            <!--Accordion wrapper-->
            <div class="accordion md-accordion accordion-5" id="accordionEx5" role="tablist"
                 aria-multiselectable="true">

                <!-- Accordion card -->
                <div class="card mb-4">

                    <!-- Card header -->
                    <div class="card-header p-0 z-depth-1" role="tab" id="heading30">
                        <a data-toggle="collapse" data-parent="#accordionEx5" href="#collapse30"
                           aria-expanded="true"
                           aria-controls="collapse30">
                            <i class="fas fa-pencil-alt fa-2x p-3 mr-4 float-left black-text"
                               aria-hidden="true"></i>
                            <h4 class="text-uppercase white-text mb-0 py-3 mt-1">
                                EXPERIENCED WRITER
                            </h4>
                        </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapse30" class="collapse" role="tabpanel" aria-labelledby="heading30"
                         data-parent="#accordionEx5">
                        <div class="card-body rgba-black-light white-text z-depth-1">
                            <p class="p-md-4 mb-0">
                                Not just any writer, but we deploy expert curators on your essay writing
                                projects. Each writer in our pool is qualified, talented and trained in
                                providing specialized niche specific content. With years of experience in the
                                industry, each one of our writers understands the demands of the projects and
                                offer highest quality content accordingly.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Accordion card -->

                <!-- Accordion card -->
                <div class="card mb-4">

                    <!-- Card header -->
                    <div class="card-header p-0 z-depth-1" role="tab" id="heading31">
                        <a data-toggle="collapse" data-parent="#accordionEx5" href="#collapse31"
                           aria-expanded="true"
                           aria-controls="collapse31">
                            <i class="fas fa-paint-brush fa-2x p-3 mr-4 float-left black-text"
                               aria-hidden="true"></i>
                            <h4 class="text-uppercase white-text mb-0 py-3 mt-1">
                                EDITING AND PROOFREADING
                            </h4>
                        </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapse31" class="collapse" role="tabpanel" aria-labelledby="heading31"
                         data-parent="#accordionEx5">
                        <div class="card-body rgba-black-light white-text z-depth-1">
                            <p class="p-md-4 mb-0">
                                Enhance the quality of pre-written essays with professional editing and
                                proofreading services. We are language and essay writing experts with hands-on
                                knowledge or different writing styles and grammar. Allow us a chance to beautify
                                your content to the highest quality levels.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Accordion card -->

                <!-- Accordion card -->
                <div class="card mb-4">

                    <!-- Card header -->
                    <div class="card-header p-0 z-depth-1" role="tab" id="heading32">
                        <a data-toggle="collapse" data-parent="#accordionEx5" href="#collapse32"
                           aria-expanded="true"
                           aria-controls="collapse32">
                            <i class="fas fa-hand-holding-usd fa-2x p-3 mr-4 float-left black-text"
                               aria-hidden="true"></i>
                            <h4 class="text-uppercase white-text mb-0 py-3 mt-1">
                                AFFORDABILITY
                            </h4>
                        </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapse32" class="collapse" role="tabpanel" aria-labelledby="heading32"
                         data-parent="#accordionEx5">
                        <div class="card-body rgba-black-light white-text z-depth-1">
                            <p class="p-md-4 mb-0">
                                It takes a lot of efforts to write a perfect piece of an essay and at Essay
                                Royal, we charge you against the hard work. Our services are the most affordable
                                in the industry making us the first choice of people seeking quality and
                                affordable services. For the sake of offering budget-friendly services, we do
                                not compromise with the content quality and deliver the best services only.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Accordion card -->

                <!-- Accordion card -->
                <div class="card mb-4">

                    <!-- Card header -->
                    <div class="card-header p-0 z-depth-1" role="tab" id="heading33">
                        <a data-toggle="collapse" data-parent="#accordionEx5" href="#collapse33"
                           aria-expanded="true"
                           aria-controls="collapse33">
                            <i class="fas fa-lock fa-2x p-3 mr-4 float-left black-text" aria-hidden="true"></i>
                            <h4 class="text-uppercase white-text mb-0 py-3 mt-1">
                                PRIVACY
                            </h4>
                        </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapse33" class="collapse" role="tabpanel" aria-labelledby="heading33"
                         data-parent="#accordionEx5">
                        <div class="card-body rgba-black-light white-text z-depth-1">
                            <p class="p-md-4 mb-0">
                                Our primary motive is to cater to the students with quality essay writing while
                                maintaining full confidentiality. Each project we undertake is managed with
                                utmost confidentiality. We make sure that your privacy is requested to the best
                                and the credit of the essay goes under your name. This is a business ethics that
                                we follow to allow our customers to enjoy peace of mind while our experts are
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Accordion card -->

            </div>
            <!--/.Accordion wrapper-->

        </div>
        <!--Grid column-->

    </div>
    <!-- Grid row -->

</section>
<!-- Section: Features v.3 -->