<section class="text-center my-5">


    <h2 class="h1-responsive font-weight-bold my-5">Why Us?</h2>

    <p class="lead grey-text w-responsive mx-auto mb-2">
        Essay writing is a critical job that demands skills and knowledge. Hire professionals to
        help you with
        remarkable paper writing and achieve better credits.
    </p>
    <p class="lead grey-text w-responsive mx-auto mb-5">
        Often essays are the toughest part of the curriculum to deal with, our essay writing
        services ensure
        that no student lacks behind because of the poor score in essay writing. We offer affordable
        essay
        writing services in all subjects to help students achieve better grades.
    </p>

    <div class="row">


        <div class="col-md-3">
            <i class="fas fa-puzzle-piece fa-3x red-text"></i>
            <h5 class="font-weight-bold my-4">There is no problem</h5>
            <p class="grey-text mb-md-0 mb-5">
                That we couldn't solve, you know. And that is our priority to solve your problems
                great!
            </p>

        </div>

        <div class="col-md-3">
            <i class="fas fa-paint-brush fa-3x cyan-text"></i>
            <h5 class="font-weight-bold my-4">Unique & creative</h5>
            <p class="grey-text mb-md-0 mb-5">
                We guarantee the uniqueness of each word and sentence. Still do not believe in it?
            </p>

        </div>

        <div class="col-md-3">

            <i class="fas fa-hourglass-half fa-3x orange-text"></i>
            <h5 class="font-weight-bold my-4">Reach your goals</h5>
            <p class="grey-text mb-0">
                Let us make your paper job, our extreme professional writers will take care of it
            </p>

        </div>

        <div class="col-md-3">
            <i class="fas fa-dollar-sign fa-3x purple-text"></i>
            <h5 class="font-weight-bold my-4">Risk Free</h5>
            <p class="grey-text mb-0">
                We provide complete money back guarantee, take a look in FAQ for more information
            </p>

        </div>

    </div>

</section>