<section class="contact-section my-5">

    <div class="card">
        <div class="row">
            <div class="col-lg-8">
                <div class="card-body form">
                    <h3 class="mt-4"><i class="fas fa-envelope pr-2"></i>Get in touch:</h3>
                    <form action="{% url 'feedback' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" name="name"
                                            {% if user.is_authenticated %} value="{{ user.get_full_name }}" {% endif %}
                                           id="form-contact-name" class="form-control">
                                    <label for="form-contact-name" class="">Your name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="email"
                                           name="email"
                                           {% if user.is_authenticated %} value="{{ user.email }}" {% endif %}
                                           id="form-contact-email" class="form-control">
                                    <label for="form-contact-email" class="">Your email</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" name="subject" id="form-contact-phone" class="form-control">
                                    <label for="form-contact-phone" class="">Subject</label>
                                </div>
                            </div>
                            {#                        <div class="col-md-6">#}
                            {#                            <div class="md-form mb-0">#}
                            {#                                <input type="text" id="form-contact-company" class="form-control">#}
                            {#                                <label for="form-contact-company" class="">Your company</label>#}
                            {#                            </div>#}
                            {#                        </div>#}
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                            <textarea name="message" id="form-contact-message"
                                                      class="form-control md-textarea"
                                                      rows="3"></textarea>
                                    <label for="form-contact-message">Your message</label>
                                    <button type="submit" class="btn-floating btn-lg blue">
                                        <i class="far fa-paper-plane"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4">

                <div class="card-body contact text-center h-100 white-text">

                    <h3 class="my-4 pb-2">Contact information</h3>
                    <ul class="text-lg-left list-unstyled ml-4">
                        <li>
                            <p><i class="fas fa-map-marker-alt pr-2"></i>+061 - 1234 - 5678</p>
                        </li>
                        <li>
                            <p><i class="fas fa-phone pr-2"></i>+1 987654 - 3210</p>
                        </li>
                        <li>
                            <p><i class="fas fa-envelope pr-2"></i>contact@essayroyal.com</p>
                        </li>
                    </ul>
                    <hr class="hr-light my-4">
                    <ul class="list-inline text-center list-unstyled">
                        <li class="list-inline-item">
                            <a class="p-2 fa-lg tw-ic" href="https://twitter.com/essay_royal/" target="_blank">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="p-2 fa-lg li-ic" href="https://www.facebook.com/Essay-Royal-367248460458727/"
                               target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://www.pinterest.com/essayroyal/" target="_blank" class="p-2 fa-lg-li-ic">
                                <i class="fab fa-pinterest-p"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/essayroyal/" target="_blank">
                                <i class="fab fa-instagram"> </i>
                            </a>
                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
</section>