{% load static %}

<div class="card profile-card">

    <div class="avatar z-depth-1-half mb-4">
        <img src="{% if user.avatar %}{{ user.avatar.url }}{% else %}{% static 'img/noimage.png' %}{% endif %}"
             class="rounded-circle"
             alt="Avatar">
    </div>

    <div class="card-body pt-0 mt-0">
        <div class="text-center">
            <h3 class="mb-3 font-weight-bold"><strong>{{ user.get_full_name }}</strong></h3>
        </div>

        <ul class="striped list-unstyled">

            <li><strong>E-mail address:</strong> {{ user.email }}</li>

            <li><strong>Date joined:</strong> {{ user.date_joined }}</li>
        </ul>

        <ul class="menu-admin">
            <li>
                <a href="{% url 'dashboard' %}">Orders</a>
            </li>
            <li>
                <a href="{% if user.is_superuser %}{% url 'admin-users' %}{% else %}{% url 'manager-users' %}{% endif %}">Users</a>
            </li>
            <li>
                <a href="{% if user.is_superuser %}{% url 'admin-selects' %}{% else %}{% url 'manager-selects' %}{% endif %}">Select management</a>
            </li>
            <li>
                <a href="{% url 'others' %}">Others</a>
            </li>
            <li>
                <a href="{% if user.is_superuser %}{% url 'admin-settings' %}{% else %}{% url 'manager-settings' %}{% endif %}">Settings</a>
            </li>
        </ul>

    </div>

</div>