{% extends 'dashboard-v2/c/index.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/customer.css' %}">
    <link rel="stylesheet" href="{% static 'css/libs/chat.min.css' %}">
{% endblock %}

{% block title %}
    Dashboard - Completed
{% endblock %}

{% block section %}

    <h4 class="text-center h4-responsive py-4 mb-3" style="background-color: #f5f5f5">{{ order.title }}
        <span class="badge badge-pill badge-primary">
            {% if order.status == 0 %}
                <i class="fas fa-search fa-xs" aria-hidden="true" title="ORDER IN REVIEW"></i>
            {% elif order.status == 1 %}
                <i class="fas fa-spinner fa-pulse fa-xs" aria-hidden="true"
                   title="ORDER IN PROGRESS"></i>
            {% elif order.status == 2 %}
                <i class="fas fa-check fa-xs" aria-hidden="true" title="COMPLETED"></i>
            {% endif %}
        </span>
    </h4>

    {% if order.feedbackorder %}
        <div class="border mb-2">
            <div class="card-body">
                <div class="w-responsive text-center mx-auto">
                    <h3 class="text-monospace amber-lighter-hover">Rating</h3>
                    <span id="rateMe">
                        {% if order.feedbackorder.rating == 0 %}
                            <i class="fas fa-star py-2 px-1 rate-popover amber-text" data-index="0"
                               data-html="true" data-toggle="popover" data-placement="top" title=""
                               data-original-title="Very bad"></i>
                            <i class="fas fa-star py-2 px-1 rate-popover" data-index="1" data-html="true"
                               data-toggle="popover" data-placement="top" title=""
                               data-original-title="Poor"></i>
                            <i class="fas fa-star py-2 px-1 rate-popover" data-index="2" data-html="true"
                               data-toggle="popover" data-placement="top" title=""
                               data-original-title="OK"></i>
                            <i class="fas fa-star py-2 px-1 rate-popover" data-index="3" data-html="true"
                               data-toggle="popover" data-placement="top" title=""
                               data-original-title="Good"></i>
                            <i class="fas fa-star py-2 px-1 rate-popover" data-index="4" data-html="true"
                               data-toggle="popover" data-placement="top" title=""
                               data-original-title="Excellent"></i>
                        {% elif order.feedbackorder.rating == 1 %}
                            <i class="fas fa-star py-2 px-1 rate-popover amber-text" data-index="0"
                               data-html="true" data-toggle="popover" data-placement="top" title=""
                               data-original-title="Very bad"></i>
                            <i class="fas fa-star py-2 px-1 rate-popover amber-text" data-index="1"
                               data-html="true" data-toggle="popover" data-placement="top" title=""
                               data-original-title="Poor"></i>
                            <i class="fas fa-star py-2 px-1 rate-popover" data-index="2" data-html="true"
                               data-toggle="popover" data-placement="top" title=""
                               data-original-title="OK"></i>
                            <i class="fas fa-star py-2 px-1 rate-popover" data-index="3" data-html="true"
                               data-toggle="popover" data-placement="top" title=""
                               data-original-title="Good"></i>
                            <i class="fas fa-star py-2 px-1 rate-popover" data-index="4" data-html="true"
                               data-toggle="popover" data-placement="top" title=""
                               data-original-title="Excellent"></i>
                        {% elif order.feedbackorder.rating == 2 %}
                            <i class="fas fa-star py-2 px-1 rate-popover amber-text" data-index="0"
                               data-html="true" data-toggle="popover" data-placement="top" title=""
                               data-original-title="Very bad"></i>
                            <i class="fas fa-star py-2 px-1 rate-popover amber-text" data-index="1"
                               data-html="true" data-toggle="popover" data-placement="top" title=""
                               data-original-title="Poor"></i>
                            <i class="fas fa-star py-2 px-1 rate-popover amber-text" data-index="2"
                               data-html="true" data-toggle="popover" data-placement="top" title=""
                               data-original-title="OK"></i>
                            <i class="fas fa-star py-2 px-1 rate-popover" data-index="3" data-html="true"
                               data-toggle="popover" data-placement="top" title=""
                               data-original-title="Good"></i>
                            <i class="fas fa-star py-2 px-1 rate-popover" data-index="4" data-html="true"
                               data-toggle="popover" data-placement="top" title=""
                               data-original-title="Excellent"></i>
                        {% elif order.feedbackorder.rating == 3 %}
                            <i class="fas fa-star py-2 px-1 rate-popover amber-text" data-index="0"
                               data-html="true" data-toggle="popover" data-placement="top" title=""
                               data-original-title="Very bad"></i>
                            <i class="fas fa-star py-2 px-1 rate-popover amber-text" data-index="1"
                               data-html="true" data-toggle="popover" data-placement="top" title=""
                               data-original-title="Poor"></i>
                            <i class="fas fa-star py-2 px-1 rate-popover amber-text" data-index="2"
                               data-html="true" data-toggle="popover" data-placement="top" title=""
                               data-original-title="OK"></i>
                            <i class="fas fa-star py-2 px-1 rate-popover amber-text" data-index="3"
                               data-html="true" data-toggle="popover" data-placement="top" title=""
                               data-original-title="Good"></i>
                            <i class="fas fa-star py-2 px-1 rate-popover" data-index="4" data-html="true"
                               data-toggle="popover" data-placement="top" title=""
                               data-original-title="Excellent"></i>
                        {% elif order.feedbackorder.rating == 4 %}
                            <i class="fas fa-star py-2 px-1 rate-popover amber-text" data-index="0"
                               data-html="true" data-toggle="popover" data-placement="top" title=""
                               data-original-title="Very bad"></i>
                            <i class="fas fa-star py-2 px-1 rate-popover amber-text" data-index="1"
                               data-html="true" data-toggle="popover" data-placement="top" title=""
                               data-original-title="Poor"></i>
                            <i class="fas fa-star py-2 px-1 rate-popover amber-text" data-index="2"
                               data-html="true" data-toggle="popover" data-placement="top" title=""
                               data-original-title="OK"></i>
                            <i class="fas fa-star py-2 px-1 rate-popover amber-text" data-index="3"
                               data-html="true" data-toggle="popover" data-placement="top" title=""
                               data-original-title="Good"></i>
                            <i class="fas fa-star py-2 px-1 rate-popover amber-text" data-index="4"
                               data-html="true" data-toggle="popover" data-placement="top" title=""
                               data-original-title="Excellent"></i>
                        {% endif %}
                    </span>
                    <p>{{ order.feedbackorder }}</p>
                </div>
            </div>
        </div>
    {% else %}
        <div class="border mb-2">
            <div class="card-body">
                <div class="w-responsive text-center mx-auto">
                    <h3 class="text-monospace amber-lighter-hover">Rating</h3>
                    <p>Leave your feedback about the order</p>
                    <span id="rateMe" data-order-id="{{ order.id }}">
                        <i class="fas fa-star py-2 px-1 rate-popover" data-index="0" data-html="true"
                           data-toggle="popover" data-placement="top" title="Very bad"></i>
                        <i class="fas fa-star py-2 px-1 rate-popover" data-index="1" data-html="true"
                           data-toggle="popover" data-placement="top" title="Poor"></i>
                        <i class="fas fa-star py-2 px-1 rate-popover" data-index="2" data-html="true"
                           data-toggle="popover" data-placement="top" title="OK"></i>
                        <i class="fas fa-star py-2 px-1 rate-popover" data-index="3" data-html="true"
                           data-toggle="popover" data-placement="top" title="Good"></i>
                        <i class="fas fa-star py-2 px-1 rate-popover" data-index="4" data-html="true"
                           data-toggle="popover" data-placement="top" title="Excellent"></i>
                    </span>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row mb-2">
        <div class="col">
            <div class="mb-2">
                <div class="card-body">
                    <h4 class="font-weight-bold amber-lighter-hover mb-3">Detail info</h4>
                    <table class="table" style="margin-bottom: 0;">
                        <tr>
                            <th>Type of order:</th>
                            <td>{{ order.type_order }}</td>
                        </tr>
                        <tr>
                            <th>Format of order:</th>
                            <td>{{ order.format_order }}</td>
                        </tr>
                        <tr>
                            <th>Deadline:</th>
                            <td>{{ order.deadline }}</td>
                        </tr>
                        <tr>
                            <th>Per page:</th>
                            <td>${{ order.per_page }}</td>
                        </tr>
                        <tr>
                            <th>Number pages:</th>
                            <td>{{ order.number_page }}</td>
                        </tr>
                        <tr>
                            <th>Total cost:</th>
                            <td>${{ order.total_cost }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4 mr-3" style="background-color: #f5f5f5">
            {% if order.filesorder_set.all %}
                <h4 class="font-weight-bold amber-lighter-hover mt-3 mb-3">Files: </h4>
                <ul class="files">
                    {% for file in order.filesorder_set.all %}
                        <li>
                            <a href="{{ file.file.url }}">{{ file.filename }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if order.description %}
                <h4 class="font-weight-bold amber-lighter-hover mt-3 mb-3">Description: </h4>
                <div class="description">
                    <div class="description-text">
                        {% autoescape off %}{{ order.description }}{% endautoescape %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    {% include 'dashboard-v2/c/orders/detail/include/additional.html' %}

{% endblock %}

{% block pod-menu %}

    <h4 class="text-center h4-responsive py-4" style="background-color: #f5f5f5">Chat</h4>

    {% include 'dashboard-v2/c/orders/detail/include/chat.html' %}

{% endblock %}

{% block scripts %}
    {% if order.feedbackorder %}
    {% else %}
        <script src="{% static 'js/libs/addons/rating.js' %}"></script>
    {% endif %}
{% endblock %}