{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    {% block css %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
</head>

<body>

<!-- Main navigation -->
<header>
    {% include 'navbar.html' %}
    {% block home %}
    {% endblock %}
</header>
<!-- Main navigation -->
<!--Main Layout-->
<main>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
</main>
<!--Main Layout-->


{% include 'footer.html' %}

{% include 'scripts.html' %}
<script>
    $(".button-collapse").sideNav();

    let container = document.querySelector('.custom-scrollbar');
    Ps.initialize(container, {
        wheelSpeed: 2,
        wheelPropagation: true,
        minScrollbarLength: 20
    });

</script>

{% block scripts %}
{% endblock %}
</body>
</html>