{% extends 'dashboard-v2/index.html' %}

{% block balance %}

{% endblock %}

{% block menu %}
    <li class="list-group-item p-0">
        <a class="pl-md-2 pl-lg-0" href="{% url 'manager:orders' %}">
            <div class="md-v-line d-md-none d-lg-block"></div>
            <i class="d-md-none d-lg-inline far fa-list-alt" style="margin-right: 36px; margin-left: 20px;"></i>
            Orders
        </a>
    </li>
    <li class="list-group-item p-0">
        <a class="pl-md-2 pl-lg-0" href="{% url 'manager:courses' %}">
            <div class="md-v-line d-md-none d-lg-block"></div>
            <i class="d-md-none d-lg-inline fas fa-clipboard-list" style="margin-right: 40px; margin-left: 20px;"></i>
            Courses
        </a>
    </li>
    <li class="list-group-item p-0">
        <a class="pl-md-2 pl-lg-0" href="{% url 'manager:users' %}">
            <div class="md-v-line d-md-none d-lg-block"></div>
            <i class="d-md-none d-lg-inline fas fa-users" style="margin-right: 34px; margin-left: 20px;"></i>
            Users
        </a>
    </li>
    <li class="list-group-item p-0">
        <a class="pl-md-2 pl-lg-0" href="{% url 'manager:type-order' %}">
            <div class="md-v-line d-md-none d-lg-block"></div>
            <i class="d-md-none d-lg-inline fas fa-question-circle" style="margin-right: 38px; margin-left: 20px;"></i>
            Type of order
        </a>
    </li>
    <li class="list-group-item p-0">
        <a class="pl-md-2 pl-lg-0" href="{% url 'manager:format-order' %}">
            <div class="md-v-line d-md-none d-lg-block"></div>
            <i class="d-md-none d-lg-inline fas fa-info-circle" style="margin-right: 38px; margin-left: 20px;"></i>
            Format of order
        </a>
    </li>
    <li class="list-group-item p-0">
        <a class="pl-md-2 pl-lg-0" href="{% url 'manager:deadline' %}">
            <div class="md-v-line d-md-none d-lg-block"></div>
            <i class="d-md-none d-lg-inline far fa-calendar-check" style="margin-right: 38px; margin-left: 20px;"></i>
            Deadline
        </a>
    </li>
    <li class="list-group-item p-0">
        <a class="pl-md-2 pl-lg-0" href="{% url 'manager:filter-words' %}">
            <div class="md-v-line d-md-none d-lg-block"></div>
            <i class="d-md-none d-lg-inline fas fa-filter" style="margin-right: 36px; margin-left: 20px;"></i>
            Filter words
        </a>
    </li>
    <li class="list-group-item p-0">
        <a class="pl-md-2 pl-lg-0" href="{% url 'manager:testimonials' %}">
            <div class="md-v-line d-md-none d-lg-block"></div>
            <i class="d-md-none d-lg-inline far fa-comment-alt" style="margin-right: 34px; margin-left: 20px;"></i>
            Testimonials
        </a>
    </li>
    <li class="list-group-item p-0">
        <a class="pl-md-2 pl-lg-0" href="{% url 'manager:add-article' %}">
            <div class="md-v-line d-md-none d-lg-block"></div>
            <i class="d-md-none d-lg-inline far fa-newspaper" style="margin-right: 34px; margin-left: 20px;"></i>
            Add article
        </a>
    </li>
    <li class="list-group-item p-0">
        <a class="pl-md-2 pl-lg-0" href="{% url 'manager:settings' %}">
            <div class="md-v-line d-md-none d-lg-block"></div>
            <i class="d-md-none d-lg-inline fas fa-user-cog" style="margin-right: 32px; margin-left: 20px;"></i>
            Settings
        </a>
    </li>
    <li class="list-group-item p-0">
        <a class="pl-md-2 pl-lg-0" href="{% url 'logout' %}">
            <div class="md-v-line d-md-none d-lg-block"></div>
            <i class="d-md-none d-lg-inline fas fa-sign-out-alt" style="margin-right: 36px; margin-left: 20px;"></i>
            Log out
        </a>
    </li>
{% endblock %}