{% extends 'dashboard-v2/c/index.html' %}

{% block css %}
    <style>
        {#.md-form {#}
        {#    margin-left: 0.5rem;#}
        {#    margin-right: 0.5rem;#}
        {
        #}#}
        {##}
        {#ul.course li {#}
        {#    border: none;#}
        {
        #}#}
        {##}
        {#ul.task {#}
        {#    box-shadow: 0 3px 3px 0 #c3c3c3;#}
        {
        #}#}
    </style>
{% endblock %}

{% block title %}
    Dashboard - Course: {{ course.title }} detail
{% endblock %}

{% block section %}
    {#    <span class="badge badge-primary">Tasks Pending {{ course.task_set.count }}</span>#}
    <h4>{{ course.title }}</h4>
    <ul class="list-group mb-5 mr-5 course">
        <li class="list-group-item">
            <div class="md-v-line"></div>
            <i class="fas fa-signature mr-4 pr-3"></i>
            <strong class="ml-1">
                Files:
                {% for file in course.coursefile_set.all %}
                    {% if forloop.first %}
                        <a href="{{ file.file.url }}">{{ file.filename }}</a>
                    {% else %}
                        , <a href="{{ file.file }}">{{ file.filename }}</a>
                    {% endif %}
                {% endfor %}
            </strong>
        </li>
        {% if course.price != 0 %}
            <li class="list-group-item">
                <div class="md-v-line"></div>
                <i class="fas fa-signature mr-4 pr-3"></i>
                <strong class="ml-1">Price:</strong> ${{ course.price }}
            </li>
        {% endif %}
        <li class="list-group-item">
            <div class="md-v-line"></div>
            <i class="fas fa-signature mr-4 pr-3"></i>
            <strong class="ml-1">Created datetime:</strong> {{ course.created_datetime }}
        </li>
    </ul>

    {% for task in course.task_set.all %}
        {% if task.price_status != 0 %}
            <div class="z-depth-3 py-5 mb-5">
                <h5 class="font-weight-bold amber-lighter-hover ml-5 mb-1">
                    Task: {{ task.title }}</h5>
                <ul class="list-group ml-5 mr-5 mb-3">
                    <li class="list-group-item">
                        <div class="md-v-line"></div>
                        <i class="far fa-question-circle mr-4 pr-3"></i><strong
                            class="ml-1">Question:</strong> {{ task.question }}
                    </li>
                    <li class="list-group-item">
                        <div class="md-v-line"></div>
                        <i class="far fa-file-alt mr-5"></i>
                        <strong>Pages:</strong> {{ task.pages }}
                    </li>
                    <li class="list-group-item">
                        <div class="md-v-line"></div>
                        <i class="fas fa-info-circle mr-5"></i>
                        <strong>Description:</strong> {{ task.description }}
                    </li>
                    <li class="list-group-item">
                        <div class="md-v-line"></div>
                        <i class="far fa-calendar-check mr-5"></i>
                        <strong>Due date:</strong> {{ task.due_date }}
                    </li>
                    <li class="list-group-item">
                        <div class="md-v-line"></div>
                        <i class="fas fa-dollar-sign mr-5"></i><strong>
                        Price:</strong> ${{ task.price_for_customer }}
                    </li>
                    {% if task.price_status == 2 %}
                        <li class="list-group-item">
                            <div class="md-v-line"></div>
                            <i class="far fa-calendar-alt mr-5"></i>
                            <strong class="ml-2">Status:</strong> {{ task.status }}
                        </li>
                    {% endif %}
                    {% if task.taskfile_set.count %}
                        <li class="list-group-item">
                            <div class="md-v-line"></div>
                            <i class="fas fa-file-download mr-5"></i>
                            <strong>Files:</strong>
                            <ul>
                                {% for file in task.taskfile_set.all %}
                                    <li><a href="{{ file.file }}">{{ file.filename }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>

                {% if task.price_status == 1 %}
                    <div class="ml-5">
                        <form method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn bg-btn" name="he_take"
                                    value="{{ task.id }}">He take
                            </button>
                            <button type="submit" class="btn bg-btn" name="agree"
                                    value="{{ task.id }}">Agree
                            </button>
                        </form>
                    </div>
                    {#                {% elif task.price_status == 2 %}#}
                    {#                    {% if task.status == 0 %}#}
                    {#                        <div class="ml-5">#}
                    {#                            <form method="post">#}
                    {#                                {% csrf_token %}#}
                    {#                                <button type="submit" class="btn bg-btn" name="he_take"#}
                    {#                                        value="{{ task.id }}">He take#}
                    {#                                </button>#}
                    {#                            </form>#}
                    {#                        </div>#}
                    {#                    {% endif %}#}
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}


{% endblock %}