<table class="table">
    <thead>
    <tr>
        <th scope="col">Title Tasks</th>
        <th scope="col">Title Course's</th>
        <th scope="col">Pages</th>
        <th scope="col">Prices</th>
        <th scope="col">Due dates</th>
    </tr>
    </thead>
    <tbody>
    {% for task in completed %}
        <tr>
            <td>{{ task.title }}</td>
            <td><a href="{% url 'customer:course-detail' task.course.id %}" class="text-primary">{{ task.course.title }}</a></td>
            <td>{{ task.pages }}</td>
            <td>${{ task.price_for_customer|floatformat }}</td>
            <td>{{ task.due_date|date:"H:m d M" }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>