<table class="table">
    <thead>
    <tr>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col" class="d-none d-sm-table-cell">Orders</th>
        <th scope="col" class="d-none d-sm-table-cell">Balance</th>
        <th scope="col">Chat</th>
    </tr>
    </thead>
    <tbody>
    {% for writer in writers %}
        <tr>
            <td>{{ writer.first_name }}</td>
            <td>{{ writer.last_name }}</td>
            <td>
                <a href="{% url 'manager:users-writer' writer.id %}" class="text-primary">
                    {{ writer.email }}
                </a>
            </td>
            <td class="d-none d-sm-table-cell">Orders length</td>
            <td class="d-none d-sm-table-cell">$320</td>
            <td>
                <a href="{% url 'manager:writer-chat' writer.chatuser.id %}">
                    <i class="far fa-comments"></i>
                </a>
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>