<div class="table-responsive">
    <table class="table">
        <thead class="th-center">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Subject</th>
            <th align="middle">View</th>
        </tr>
        </thead>
        <tbody class="td-center">
        {% for feedback in feedbacks %}
            <tr>
                <td>{{ feedback.name }}</td>
                <td>{{ feedback.email }}</td>
                <td>{{ feedback.subject }}</td>
                <td class="text-center">
                    <a href="{% url 'appdashboard:feedback-view' feedback.id %}" class="blue-text" data-toggle="tooltip"
                       data-placement="top" title=""
                       data-original-title="See results"><i class="far fa-eye"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>