<div class="table-responsive">
{% csrf_token %}
    <div class="card">
        <div class="card-body">
            <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2"><a href="#!" class="text-success"><i
              class="fas fa-plus fa-2x" aria-hidden="true"></i></a></span>
                <table class="table table-bordered table-responsive-md table-striped text-center">
                    <thead>
                    <tr>
                        <th class="text-center">Word</th>
                        <th class="text-center">Sort</th>
                        <th class="text-center">Remove</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for word in words %}
                        <tr>
                            <td class="pt-3-half change-td" contenteditable="true" data-word-id="{{ word.id }}">
                                {{ word.word }}
                            </td>
                            <td class="pt-3-half">
                                <span class="table-up">
                                    <a href="#!" class="indigo-text">
                                        <i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i>
                                    </a>
                                </span>
                                <span class="table-down">
                                    <a href="#!" class="indigo-text">
                                        <i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i>
                                    </a>
                                </span>
                            </td>
                            <td>
                                <span class="table-remove">
                                    <button type="button"
                                            data-word-id="{{ word.id }}"
                                            class="btn btn-danger btn-rounded btn-sm my-0">
                                        Remove
                                    </button>
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>