<table class="table">
    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Pages</th>
        <th scope="col">Total cost</th>
        <th scope="col">Deadline</th>
    </tr>
    </thead>
    <tbody>
    {% for task_completed in completed %}
        <tr>
            <td><a href="{% url 'writer:task-completed' task_completed.id %}" class="text-primary">{{ task_completed.title }}</a></td>
            <td>{{ task_completed.pages }}</td>
            <td>${{ task_completed.price_for_writer|floatformat }}</td>
            <td>{{ task_completed.due_date|date:"H:m d M" }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>