body {
    background-color: rgb(241, 241, 241);
}

html,
body,
header {
    height: 65px;
}

.navbar:not(.top-nav-collapse) {
    background: -moz-linear-gradient(45deg, rgba(8, 27, 73, 0.97) 0%, rgba(30, 101, 178, 0.97) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(8, 27, 73, 0.97)), color-stop(100%, rgba(30, 101, 178, 0.97)));
    background: -webkit-linear-gradient(45deg, rgba(8, 27, 73, 0.97) 0%, rgba(30, 101, 178, 0.97) 100%);
    background: -o-linear-gradient(45deg, rgba(8, 27, 73, 0.97) 0%, rgba(30, 101, 178, 0.97) 100%);
    background: -ms-linear-gradient(45deg, rgba(8, 27, 73, 0.97) 0%, rgba(30, 101, 178, 0.97) 100%);
    background: linear-gradient(45deg, rgba(8, 27, 73, 0.97) 0%, rgba(30, 101, 178, 0.97) 100%);
}

.contact {
    background: -moz-linear-gradient(45deg, rgba(8, 27, 73, 0.97) 0%, rgba(30, 101, 178, 0.97) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(8, 27, 73, 0.97)), color-stop(100%, rgba(30, 101, 178, 0.97)));
    background: -webkit-linear-gradient(45deg, rgba(8, 27, 73, 0.97) 0%, rgba(30, 101, 178, 0.97) 100%);
    background: -o-linear-gradient(45deg, rgba(8, 27, 73, 0.97) 0%, rgba(30, 101, 178, 0.97) 100%);
    background: -ms-linear-gradient(45deg, rgba(8, 27, 73, 0.97) 0%, rgba(30, 101, 178, 0.97) 100%);
    background: linear-gradient(45deg, rgba(8, 27, 73, 0.97) 0%, rgba(30, 101, 178, 0.97) 100%);
}

h6 {
    line-height: 1.7;
}

.bg-block, .rgba-indigo-strong, .top-nav-collapse {
    background: -moz-linear-gradient(45deg, rgba(8, 27, 73, 0.97) 0%, rgba(30, 101, 178, 0.97) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(8, 27, 73, 0.97)), color-stop(100%, rgba(30, 101, 178, 0.97)));
    background: -webkit-linear-gradient(45deg, rgba(8, 27, 73, 0.97) 0%, rgba(30, 101, 178, 0.97) 100%);
    background: -o-linear-gradient(45deg, rgba(8, 27, 73, 0.97) 0%, rgba(30, 101, 178, 0.97) 100%);
    background: -ms-linear-gradient(45deg, rgba(8, 27, 73, 0.97) 0%, rgba(30, 101, 178, 0.97) 100%);
    background: linear-gradient(45deg, rgba(8, 27, 73, 0.97) 0%, rgba(30, 101, 178, 0.97) 100%);
}

.bg-btn {
    background: -moz-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
    background: -webkit-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
    background: -o-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
    background: -ms-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
    background: linear-gradient(to right, #FDA10E 0%, #FF6C0D 100%);
}

.pills-primary .nav-link.active {
    background: -moz-linear-gradient(45deg, rgba(8, 27, 73, 0.97) 0%, rgba(30, 101, 178, 0.97) 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(8, 27, 73, 0.97)), color-stop(100%, rgba(30, 101, 178, 0.97)));
    background: -webkit-linear-gradient(45deg, rgba(8, 27, 73, 0.97) 0%, rgba(30, 101, 178, 0.97) 100%);
    background: -o-linear-gradient(45deg, rgba(8, 27, 73, 0.97) 0%, rgba(30, 101, 178, 0.97) 100%);
    background: -ms-linear-gradient(45deg, rgba(8, 27, 73, 0.97) 0%, rgba(30, 101, 178, 0.97) 100%);
    background: linear-gradient(45deg, rgba(8, 27, 73, 0.97) 0%, rgba(30, 101, 178, 0.97) 100%);
}

.menu-login {
    display: inline-flex;
}

.menu-login a.nav-link:hover {
    color: rgba(255, 255, 255, .75);
}

.menu-login a.nav-link {
    color: #fff;
}

.list-unstyled li {
    font-size: 14px;
}

.list-unstyled li strong {
    font-weight: 500;
}

input {
    padding-left: 5px;
    color: #555;
    width: 100%;
}

.own-orange-text {
    color: #fe740d;
}

ul#tree {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul#tree li {
    padding-bottom: 1rem;
}

ul#tree ul {
}

ul#tree ul li {
}

#toTop {
    background-color: #f56723;
    width: 100px;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 100px;
    right: 10px;
    cursor: pointer;
    display: none;
    color: #fff;
    font-size: 11px;
}

.success {
    background-color: #00C851;
}

.warning {
    background-color: #FFBB33;
}

.info {
    background-color: #33B5E5;
}

.error {
    background-color: #FF3547;
}

ul.messages {
    position: fixed;
    top: 80px;
    left: 5px;
    padding: 0;
    list-style: none;
    z-index: 9991;
}

ul.messages li {
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    opacity: .8;
    padding: 10px 15px;
    margin: 0 0 5px;
}

.md-tabs .nav-link {
    padding: 10px 0;
}

span.helptext ul {
    padding: 10px 0 0 20px;
}

span.helptext ul li {
}

ul.left-menu-dashboard li a {
    display: inline-block;
    width: 100%;
    line-height: 3rem;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    color: #1d5191;
}
ul.left-menu-dashboard li a i {
    color: #6B666A;
}
ul.left-menu-dashboard li a:hover {
    background-color: #1e5191;
    color: whitesmoke;
    animation: color 3ms;
    padding-left: 5px;
}

ul.left-menu-dashboard li a:hover i {
    color: #a2a2a2;
}

main {
    background: url('../img/bg.jpg') fixed;
    padding: 50px 0;
}

ul.additionally-order-files li a, ul.files li a {
    font-size: 14px;
    color: #1b4783;
    font-weight: 400;
}