.view-order {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .view-order .own-d-grid {
    display: grid;
    grid-template-columns: 1fr; }
    .view-order .own-d-grid table.own-table {
      width: 100%;
      border-right: 1px solid #ccc; }
      .view-order .own-d-grid table.own-table tr {
        border-bottom: 1px solid #ccc; }
      .view-order .own-d-grid table.own-table tr th {
        text-transform: uppercase;
        width: 150px;
        font-size: 13px;
        padding: 5px;
        color: #696969; }
      .view-order .own-d-grid table.own-table tr td {
        font-size: 14px;
        padding: 5px;
        color: #404040; }
  .view-order .description {
    display: inline-block;
    width: 100%; }
    .view-order .description-text {
      margin-left: 10px;
      padding: 5px 10px; }
  .view-order ul.files {
    margin: 0;
    padding: 0 0 0 35px;
    display: inline-block; }

.writer-result {
  padding: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
