<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Days</th>
        <th scope="col">Hours</th>
        <th scope="col">Prices</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for deadline in deadlines %}
        <tr>
            <th scope="row">{{ deadline.id }}</th>
            <td>{{ deadline.days }}</td>
            <td>{{ deadline.hours }}</td>
            <td>{{ deadline.price }}</td>
            <td><a href="{% url 'appdashboard:selects-price_deadline-remove' deadline.id %}"><i class="fas fa-trash"></i></a></td>
        </tr>
    {% endfor %}
    <tr>
        <form action="{% url 'appdashboard:admin-selects' %}" method="post">
            {% csrf_token %}
            <td></td>
            <td style="vertical-align: middle;">
                {{ deadline_form.days }}
            </td>
            <td style="vertical-align: middle;">
                {{ deadline_form.hours }}
            </td>
            <td style="vertical-align: middle;">
                {{ deadline_form.price }}
            </td>
            <td style="vertical-align: middle;">
                <button type="submit" name="_add_deadline"
                        style="
                            padding: 0;
                            margin: 0;
                            border: none;
                            background-color: white;
                            cursor: pointer;
                         ">
                    <i class="fas fa-plus-square"></i>
                </button>
            </td>
        </form>
    </tr>
    </tbody>
</table>