{% load static %}

<div class="card chat-room mb-2">
    <div class="card-body">

        <div class="row px-lg-2 px-2">

            <div class="col-12 pl-md-3 px-lg-auto px-0">

                <div class="chat-message">

                    <ul class="list-unstyled chat-1 scrollbar-light-blue">
                        {% for message in order.chat_set.all %}
                            {% if message.user == order.writer %}
                                <li class="d-flex justify-content-between mb-4">
                                    <img src="
                                            {% if message.user.avatar %}
                                                {{ message.user.avatar.url }}
                                            {% else %}
                                                {% static 'img/noimage.png' %}
                                            {% endif %}
                                        " alt="avatar"
                                         class="avatar rounded-circle mr-2 ml-lg-3 ml-0 z-depth-1">
                                    <div class="chat-body white p-3 ml-2 z-depth-1">
                                        <div class="header">
                                            <strong class="primary-font">{{ message.user.get_full_name }}</strong>
                                            <small class="pull-right text-muted">
                                                <i class="far fa-clock"></i> {{ message.created_datetime }}
                                            </small>
                                            {% if message.status == False %}
                                                <small style="float:right">
                                                    <button type="submit" data-message-id="{{ message.id }}"
                                                            class="btn bg-btn btn-sm message_btn">
                                                        Accept
                                                    </button>
                                                </small>
                                            {% endif %}
                                        </div>
                                        <hr class="w-100">
                                        <p class="mb-0">
                                            {{ message }}
                                        </p>
                                    </div>
                                </li>
                            {% else %}
                                <li class="d-flex justify-content-between mb-4">
                                    <div class="chat-body white p-3 z-depth-1">
                                        <div class="header">
                                            <strong class="primary-font">{{ message.user.get_full_name }}</strong>
                                            <small class="pull-right text-muted">
                                                <i class="far fa-clock"></i> {{ message.created_datetime }}
                                            </small>
                                            {% if message.status == False %}
                                                <small style="float:right">
                                                    <button type="submit" data-message-id="{{ message.id }}"
                                                            class="btn bg-btn btn-sm message_btn">
                                                        Accept
                                                    </button>
                                                </small>
                                            {% endif %}
                                        </div>
                                        <hr class="w-100">
                                        <p class="mb-0">
                                            {{ message }}
                                        </p>
                                    </div>
                                    <img src="
                                            {% if message.user.avatar %}
                                                {{ message.user.avatar.url }}
                                            {% else %}
                                                {% static 'img/noimage.png' %}
                                            {% endif %}
                                        " alt="avatar"
                                         class="avatar rounded-circle mr-0 ml-3 z-depth-1">
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>

            </div>

        </div>

    </div>
</div>