{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/writer-view-order.css' %}">
    <link rel="stylesheet" href="{% static 'css/libs/chat.min.css' %}">
    <style>
        .amber-lighter-hover {
            color: #ffa000;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .white-darker-hover {
            -webkit-transition: .4s;
            transition: .4s;
        }

        .white-darker-hover:hover {
            -webkit-transition: .4s;
            transition: .4s;
            color: #d9d9d9;
        }

        table.table tr th, table.table tr td {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .description {
            display: inline-block;
            width: 100%;
        }

        .description-text {
            margin-left: 10px;
            padding: 5px 10px;
        }
    </style>
{% endblock %}

{% block title %}
    View Order
{% endblock %}

{% block content %}

    <div class="container mt-5 pb-2">

        <div class="row">
            <div class="col-12">
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="w-responsive text-center mx-auto">
                            <h4 class="text-center text-primary" style="color: #757575;">{{ order.title.upper }}
                                <span class="badge badge-pill bg-btn">
                                    {% if order.status == 0 %}
                                        <i class="fas fa-search fa-xs" aria-hidden="true" title="ORDER IN REVIEW"></i>
                                    {% elif order.status == 1 %}
                                        <i class="fas fa-spinner fa-pulse fa-xs" aria-hidden="true"
                                           title="ORDER IN PROGRESS"></i>
                                    {% elif order.status == 2 %}
                                        <i class="fas fa-check fa-xs" aria-hidden="true" title="COMPLETED"></i>
                                    {% endif %}
                                </span>
                            </h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card mb-2">
                    <div class="card-body">
                        <h4 class="font-weight-bold amber-lighter-hover mb-3">Detail info</h4>
                        <table class="table" style="margin-bottom: 0;">
                            <tr>
                                <th>Type of order:</th>
                                <td>{{ order.type_order }}</td>
                            </tr>
                            <tr>
                                <th>Format of order:</th>
                                <td>{{ order.format_order }}</td>
                            </tr>
                            <tr>
                                <th>Deadline:</th>
                                <td>{{ order.deadline }}</td>
                            </tr>
                            <tr>
                                <th>Per page:</th>
                                <td>${{ order.type_order.price_writer|floatformat }}</td>
                            </tr>
                            <tr>
                                <th>Number pages:</th>
                                <td>{{ order.number_page }}</td>
                            </tr>
                            <tr>
                                <th>Total cost:</th>
                                <td>${{ order.total_cost_writer|floatformat }}</td>
                            </tr>
                        </table>

                        {% if order.description %}
                            <h4 class="font-weight-bold amber-lighter-hover mt-3 mb-3">Description: </h4>
                            <div class="description">
                                <div class="description-text">
                                    {% autoescape off %}{{ order.description }}{% endautoescape %}
                                </div>
                            </div>
                        {% endif %}

                        {% if order.filesorder_set.all %}
                            <h4 class="font-weight-bold amber-lighter-hover mt-3 mb-3">Files: </h4>
                            <ul class="files">
                                {% for file in order.filesorder_set.all %}
                                    <li>
                                        <a href="{{ file.file.url }}">{{ file.filename }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                {% include 'dashboard/writer/order/additional.html' %}
            </div>
            <div class="col-12 col-md-6">
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="w-responsive text-center mx-auto">
                            <h3 class="text-monospace">Chat</h3>
                        </div>
                    </div>
                </div>
                {% include 'dashboard/writer/order/chat.html' %}
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';
        $('p').addClass('white-darker-hover');
    </script>
{% endblock %}