{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin-dashboard.css' %}">
{% endblock %}

{% block title %}
    Detail Comment
{% endblock %}

{% block content %}

    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="font-weight-bold amber-lighter-hover mb-3">Comment Detail</h4>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="md-v-line"></div>
                                <i class="fas fa-signature mr-4 pr-3"></i><strong class="ml-1">Name:</strong> {{ comment.user.get_full_name }}
                            </li>
                            <li class="list-group-item">
                                <div class="md-v-line"></div>
                                <i class="fas fa-at mr-5"></i><strong>Email:</strong> {{ comment.user.email }}
                            </li>
                            <li class="list-group-item">
                                <div class="md-v-line"></div>
                                <i class="far fa-comment-alt mr-5"></i><strong>Message:</strong> {{ comment.comment }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-md-0 mb-5">
                {% include 'dashboard/others/profile.html' %}
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}