{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin-dashboard.css' %}">
{% endblock %}

{% block title %}
    Detail Feedback
{% endblock %}

{% block content %}

    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="font-weight-bold amber-lighter-hover mb-3">Feedback Detail</h4>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <div class="md-v-line"></div>
                                <i class="fas fa-signature mr-4 pr-3"></i><strong class="ml-1">Name:</strong> {{ feedback.name }}
                            </li>
                            <li class="list-group-item">
                                <div class="md-v-line"></div>
                                <i class="fas fa-at mr-5"></i><strong>Email:</strong> {{ feedback.email }}
                            </li>
                            <li class="list-group-item">
                                <div class="md-v-line"></div>
                                <i class="fas fa-text-height mr-5"></i><strong>Subject:</strong> {{ feedback.subject }}
                            </li>
                            <li class="list-group-item">
                                <div class="md-v-line"></div>
                                <i class="far fa-comment-alt mr-5"></i><strong>Message:</strong> {{ feedback.message }}
                            </li>
                            <li class="list-group-item">
                                <div class="md-v-line"></div>
                                <i class="fas fa-map-marker mr-5"></i><strong>IP address:</strong> {{ feedback.ip }}
                            </li>
                            <li class="list-group-item">
                                <div class="md-v-line"></div>
                                <i class="fas fa-globe-americas mr-5"></i><strong>Country:</strong> {{ feedback.country }}
                            </li>
                            <li class="list-group-item">
                                <div class="md-v-line"></div>
                                <i class="fas fa-city mr-5"></i><strong>City:</strong> {{ feedback.city }}
                            </li>
                            <li class="list-group-item">
                                <div class="md-v-line"></div>
                                <i class="fas fa-clock mr-5"></i><strong>Time zone:</strong> {{ feedback.time_zone }}
                            </li>
                            <li class="list-group-item">
                                <div class="md-v-line"></div>
                                <i class="fas fa-laptop mr-5"></i><strong>Device:</strong> {{ feedback.device }}
                            </li>
                            <li class="list-group-item">
                                <div class="md-v-line"></div>
                                <i class="fab fa-internet-explorer mr-5"></i><strong>Browser:</strong> {{ feedback.browser }}
                            </li>
                            <li class="list-group-item">
                                <div class="md-v-line"></div>
                                <i class="fab fa-windows mr-5"></i><strong>Operation system:</strong> {{ feedback.operation_system }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-md-0 mb-5">
                {% include 'dashboard/others/profile.html' %}
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}