<div class="tab-pane fade active show" id="panel83" role="tabpanel">
    <div class="table-responsive">
        <table class="table">
            <thead class="th-center">
            <tr>
                <th>Customer</th>
                <th align="middle">Title</th>
                <th>Type of order</th>
                <th>Format of order</th>
                <th class="text-center">Deadline</th>
                <th class="text-center">Price</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody class="td-center">
            {% for order in orders_in_review %}
                <tr>
                    <td>
                        <a href="{% url 'appdashboard:admin-customer' order.customer.id %}">
                            {% if order.customer.get_full_name %}
                                {{ order.customer.get_full_name }}
                            {% else %}
                                {{ order.customer.email }}
                            {% endif %}
                        </a>
                    </td>
                    <td><a href="{% url 'appdashboard:manager-order' order.id %}">{{ order.title }}</a></td>
                    <td>{{ order.type_order }}</td>
                    <td>{{ order.format_order }}</td>
                    <td class="text-center">
                        {{ order.deadline|date:'d-m H:i' }}
                    </td>
                    <td class="text-center">${{ order.total_cost|floatformat }}</td>
                    <td class="text-center">
                        {% if order.status == 0 %}
                            <a href="{% url 'apporders:view_order' order.id %}"
                               class="blue-text" data-toggle="tooltip"
                               data-placement="top" title=""
                               data-original-title="See results">
                                <i class="far fa-eye"></i>
                            </a>
                        {% elif order.status == 3 %}
                            <a href="{% url 'apporders:view_order' order.id %}"
                               class="blue-text" data-toggle="tooltip"
                               data-placement="top" title=""
                               data-original-title="See results">
                                <i class="fas fa-cash-register"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>