<table class="table">
    <thead>
    <tr>
        <th scope="col">Task</th>
        <th scope="col">From course</th>
        <th scope="col">Writer</th>
        <th scope="col">Pages</th>
        <th scope="col">Price</th>
        <th scope="col" class="d-none d-md-table-cell">Deadline</th>
    </tr>
    </thead>
    <tbody>
    {% for task in in_process %}
        <tr>
            <td><a href="" class="text-primary">{{ task.title }}</a></td>
            <td><a href="{% url 'manager:course-detail' task.course.id %}" class="text-primary">{{ task.course.title }}</a></td>
            <td>
                {% if task.writer %}
                    <a href="" class="text-primary">{{ task.writer.get_full_name }}</a>
                {% else %}
                    <a href="" class="text-primary">{{ task.course.manager.get_full_name }}</a>
                {% endif %}
            </td>
            <td>{{ task.pages }}</td>
            <td>${{ task.price_for_customer|floatformat }}</td>
            <td class="d-none d-md-table-cell">{{ task.due_date|date:"H:m d M" }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>