{% load courses_filter %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Created manager</th>
        <th scope="col">Price customer</th>
        <th scope="col">Price writer</th>
        <th scope="col">Created datetime</th>
    </tr>
    </thead>
    <tbody>
    {% for task in in_review %}
        <tr>
            <td><a href="" class="text-primary">{{ task.title }}</a></td>
            <td><a href="" class="text-primary">{{ task.course.manager.get_full_name }}</a></td>
            <td>${{ task.price_for_customer|floatformat }}</td>
            <td>${{ task.price_for_writer|floatformat }}</td>
            <td>{{ task.created_datetime|date:"H:m d M" }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>