<!-- Nav tabs -->
<ul class="nav nav-tabs md-tabs nav-justified bg-block" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#panel555" role="tab">
            <i class="fas fa-user pr-2"></i>Writers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel666" role="tab">
            <i class="fas fa-user pr-2"></i>Customers</a>
    </li>
</ul>

<div class="tab-content tab-content-own">

    <div class="tab-pane fade in show active" id="panel555" role="tabpanel">
        {% include 'dashboard/manager/users/tabs/writers/all-writers.html' %}
    </div>

    <div class="tab-pane fade" id="panel666" role="tabpanel">
        {% include 'dashboard/manager/users/tabs/customers.html' %}
    </div>

</div>