{% extends 'base.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block title %}
    Blog
{% endblock %}

{% block content %}

    <div class="container">
        <section class="my-5">


            <div class="card">
                <div class="card-body">
                    {% for article in object_list %}
                        {% if forloop.last %}
                            <div class="row">

                                <div class="col-lg-5 col-xl-4">

                                    <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                                        <img class="img-fluid" src="{{ article.poster.url }}"
                                             alt="Poster">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>

                                </div>

                                <div class="col-lg-7 col-xl-8">

                                    <h3 class="font-weight-bold mb-3"><strong>{{ article.title }}</strong></h3>
                                    <p class="dark-grey-text">
                                        {{ article.description }}
                                    </p>
                                    <p>by <a class="font-weight-bold">EssayRoyal</a>, {{ article.created_datetime }}</p>
                                    <a href="{% url 'appblog:article' article.id %}" class="btn btn-primary btn-md">Read more</a>
                                </div>

                            </div>
                        {% else %}
                            <div class="row">

                                <div class="col-lg-5 col-xl-4">

                                    <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                                        <img class="img-fluid" src="{{ article.poster.url }}"
                                             alt="Sample image">
                                        <a>
                                            <div class="mask rgba-white-slight"></div>
                                        </a>
                                    </div>

                                </div>

                                <div class="col-lg-7 col-xl-8">

                                    <h3 class="font-weight-bold mb-3"><strong>{{ article.title }}</strong></h3>
                                    <p class="dark-grey-text">
                                        {{ article.description }}
                                    </p>
                                    <p>by <a class="font-weight-bold">EssayRoyal</a>, {{ article.created_datetime }}</p>
                                    <a href="{% url 'appblog:article' article.id %}" class="btn btn-primary btn-md">Read more</a>
                                </div>

                            </div>

                            <hr class="my-5">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>


        </section>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}