{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/libs/chat.min.css' %}">
{% endblock %}

{% block title %}
    Chat group
{% endblock %}

{% block content %}

    <div class="container my-5">
        <div class="row">
            <div class="col">
                <div class="card grey lighten-3 chat-room">
                    <div class="card-body">

                        <div class="row px-lg-2 px-2">

                            <div class="col-md-6 col-xl-4 px-0">

                                <div class="white z-depth-1 px-3 pt-3 pb-0">
                                    <ul class="list-unstyled friend-list">
                                        <li class="white">
                                            <div class="form-group basic-textarea">
                                                <textarea class="form-control pl-2 my-0" id="message_for_chat" rows="3"
                                              placeholder="Type your message here..."></textarea>
                                            </div>
                                        </li>
                                        <button type="button" id="send_message_in_chat"
                                                class="btn btn-info btn-rounded btn-sm waves-effect waves-light float-right">
                                            Send
                                        </button>
                                        <br><br><br>
                                        <li class="active grey lighten-3 p-2">
                                            <a href="#" class="d-flex justify-content-between">
                                                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg"
                                                     alt="avatar"
                                                     class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                                                <div class="text-small">
                                                    <strong>John Doe</strong>
                                                    <p class="last-message text-muted">Hello, Are you there?</p>
                                                </div>
                                                <div class="chat-footer">
                                                    <p class="text-smaller text-muted mb-0">Just now</p>
                                                    <span class="badge badge-danger float-right">1</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="p-2">
                                            <a href="#" class="d-flex justify-content-between">
                                                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg"
                                                     alt="avatar"
                                                     class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                                                <div class="text-small">
                                                    <strong>Danny Smith</strong>
                                                    <p class="last-message text-muted">Lorem ipsum dolor sit.</p>
                                                </div>
                                                <div class="chat-footer">
                                                    <p class="text-smaller text-muted mb-0">5 min ago</p>
                                                    <span class="text-muted float-right"><i class="fas fa-mail-reply"
                                                                                            aria-hidden="true"></i></span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="p-2">
                                            <a href="#" class="d-flex justify-content-between">
                                                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
                                                     alt="avatar"
                                                     class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                                                <div class="text-small">
                                                    <strong>Alex Steward</strong>
                                                    <p class="last-message text-muted">Lorem ipsum dolor sit.</p>
                                                </div>
                                                <div class="chat-footer">
                                                    <p class="text-smaller text-muted mb-0">Yesterday</p>
                                                    <span class="text-muted float-right"><i class="fas fa-mail-reply"
                                                                                            aria-hidden="true"></i></span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="p-2">
                                            <a href="#" class="d-flex justify-content-between">
                                                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-3.jpg"
                                                     alt="avatar"
                                                     class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                                                <div class="text-small">
                                                    <strong>Ashley Olsen</strong>
                                                    <p class="last-message text-muted">Lorem ipsum dolor sit.</p>
                                                </div>
                                                <div class="chat-footer">
                                                    <p class="text-smaller text-muted mb-0">Yesterday</p>
                                                    <span class="text-muted float-right"><i class="fas fa-mail-reply"
                                                                                            aria-hidden="true"></i></span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="p-2">
                                            <a href="#" class="d-flex justify-content-between">
                                                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-4.jpg"
                                                     alt="avatar"
                                                     class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                                                <div class="text-small">
                                                    <strong>Kate Moss</strong>
                                                    <p class="last-message text-muted">Lorem ipsum dolor sit.</p>
                                                </div>
                                                <div class="chat-footer">
                                                    <p class="text-smaller text-muted mb-0">Yesterday</p>
                                                    <span class="text-muted float-right"><i class="fas fa-mail-reply"
                                                                                            aria-hidden="true"></i></span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="p-2">
                                            <a href="#" class="d-flex justify-content-between">
                                                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg"
                                                     alt="avatar"
                                                     class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                                                <div class="text-small">
                                                    <strong>Lara Croft</strong>
                                                    <p class="last-message text-muted">Lorem ipsum dolor sit.</p>
                                                </div>
                                                <div class="chat-footer">
                                                    <p class="text-smaller text-muted mb-0">Yesterday</p>
                                                    <span class="text-muted float-right"><i class="fas fa-mail-reply"
                                                                                            aria-hidden="true"></i></span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="p-2">
                                            <a href="#" class="d-flex justify-content-between">
                                                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-6.jpg"
                                                     alt="avatar"
                                                     class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                                                <div class="text-small">
                                                    <strong>Brad Pitt</strong>
                                                    <p class="last-message text-muted">Lorem ipsum dolor sit.</p>
                                                </div>
                                                <div class="chat-footer">
                                                    <p class="text-smaller text-muted mb-0">5 min ago</p>
                                                    <span class="text-muted float-right"><i class="fas fa-check"
                                                                                            aria-hidden="true"></i></span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>

                            <div class="col-md-6 col-xl-8 pl-md-3 px-lg-auto px-0">

                                <div class="chat-message">

                                    <ul class="list-unstyled chat">
{#                                        {% for chat in messages_from_chat %}#}
{#                                            {% if chat.owner == user %}#}
{#                                                <li class="d-flex justify-content-between mb-4">#}
{#                                                <div class="chat-body white p-3 z-depth-1" style="width: 100%">#}
{#                                                    <div class="header">#}
{#                                                        <strong class="primary-font">#}
{#                                                            {% if chat.owner.get_full_name %}#}
{#                                                                {{ chat.owner.get_full_name }}#}
{#                                                            {% else %}#}
{#                                                                {{ chat.owner.email }}#}
{#                                                            {% endif %}#}
{#                                                        </strong>#}
{#                                                        <small class="pull-right text-muted"><i#}
{#                                                                class="far fa-clock"></i>#}
{#                                                            {{ chat.created_datetime }}#}
{#                                                        </small>#}
{#                                                    </div>#}
{#                                                    <hr class="w-100">#}
{#                                                    <p class="mb-0">#}
{#                                                        {{ chat.message }}#}
{#                                                    </p>#}
{#                                                </div>#}
{#                                                <img src="{% if chat.owner.avatar %}{{ chat.owner.avatar.url }}{% else %}{% static 'img/noimage.png' %}{% endif %}"#}
{#                                                     alt="avatar"#}
{#                                                     class="avatar rounded-circle mr-0 ml-3 z-depth-1">#}
{#                                            </li>#}
{#                                            {% else %}#}
{#                                                <li class="d-flex justify-content-between mb-4">#}
{#                                                <img src="{% if chat.owner.avatar %}{{ chat.owner.avatar.url }}{% else %}{% static 'img/noimage.png' %}{% endif %}"#}
{#                                                     alt="avatar"#}
{#                                                     class="avatar rounded-circle mr-2 ml-lg-3 ml-0 z-depth-1">#}
{#                                                <div class="chat-body white p-3 ml-2 z-depth-1" style="width: 100%">#}
{#                                                    <div class="header">#}
{#                                                        <strong class="primary-font">#}
{#                                                            {% if chat.owner.get_full_name %}#}
{#                                                                {{ chat.owner.get_full_name }}#}
{#                                                            {% else %}#}
{#                                                                {{ chat.owner.email }}#}
{#                                                            {% endif %}#}
{#                                                        </strong>#}
{#                                                        <small class="pull-right text-muted"><i#}
{#                                                                class="far fa-clock"></i>#}
{#                                                            {{ chat.created_datetime }}#}
{#                                                        </small>#}
{#                                                    </div>#}
{#                                                    <hr class="w-100">#}
{#                                                    <p class="mb-0">#}
{#                                                        {{ chat.message }}#}
{#                                                    </p>#}
{#                                                </div>#}
{#                                            </li>#}
{#                                            {% endif %}#}
{#                                        {% endfor %}#}
                                    </ul>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/chat.js' %}"></script>
{% endblock %}