<table id="allWriters" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th class="th-sm">
            Fullname
        </th>
        <th class="th-sm">
            Email
        </th>
        <th class="th-sm">
            Balance
        </th>
    </tr>
    </thead>
    <tbody>
    {% for writer in writers %}
        <tr>
            <td><a href="{% url 'manager-writer' writer.id %}">{{ writer.get_full_name }}</a></td>
            <td><a href="{% url 'manager-writer' writer.id %}">{{ writer.email }}</a></td>
            <td>{{ writer.balance }}</td>
        </tr>
    {% endfor %}

    </tbody>
    <tfoot>
    <tr>
        <th>
            Fullname
        </th>
        <th>
            Email
        </th>
        <th>
            Balance
        </th>
    </tr>
    </tfoot>
</table>