{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin-dashboard.css' %}">
{% endblock %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="min-height: 100vh">
            <div class="col-12 col-md-8 mt-5">

                {% include 'dashboard/admin/users/tabs.html' %}

            </div>

            <div class="col-12 col-md-4 mt-5 mb-md-0 mb-5">

                {% include 'dashboard/admin/profile.html' %}

            </div>

        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            let listDataTable = ['#writerProgress', '#allWriters'];
            for (let i = 0; i < listDataTable.length; i++) {
                $(listDataTable[i]).DataTable();
            }
            $('.dataTables_length').addClass('bs-select');
        })
    </script>
{% endblock %}