<ul class="nav nav-tabs md-tabs nav-justified bg-block" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#panel555" role="tab">
            <i class="fas fa-user pr-2"></i>Writers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel666" role="tab">
            <i class="fas fa-user pr-2"></i>Customers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel777" role="tab">
            <i class="fas fa-user pr-2"></i>Managers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel888" role="tab">
            <i class="fas fa-user pr-2"></i>New user</a>
    </li>
</ul>

<div class="tab-content tab-content-own">

    <div class="tab-pane fade in show active" id="panel555" role="tabpanel">

        {% include 'dashboard/admin/users/tabs/writers/all-writers.html' %}

    </div>

    <div class="tab-pane fade" id="panel666" role="tabpanel">

        {% include 'dashboard/admin/users/tabs/customers.html' %}

    </div>

    <div class="tab-pane fade" id="panel777" role="tabpanel">

        {% include 'dashboard/admin/users/tabs/managers/all-managers.html' %}

    </div>

    <div class="tab-pane fade" id="panel888" role="tabpanel">

        {% include 'dashboard/admin/users/tabs/create-user.html' %}

    </div>

</div>