{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    {% block css %}{% endblock %}
    <style>
        a.collapsible-header i {
            width: 10px;
        }
    </style>
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="fixed-sn white-skin">

{% include 'navigation.html' %}

<main>
    <div class="container-fluid">

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% block content %}{% endblock %}

    </div>
</main>

{% include 'footer.html' %}

{% include 'scripts.html' %}
<script>
    $(".button-collapse").sideNav();

    let container = document.querySelector('.custom-scrollbar');
    Ps.initialize(container, {
        wheelSpeed: 2,
        wheelPropagation: true,
        minScrollbarLength: 20
    });

</script>

{% block scripts %}
{% endblock %}
</body>
</html>