{% load flatpages %}
{% load static %}

<footer class="page-footer font-small bg-block pt-4">

    <div class="container text-center text-md-left">

        <div class="row text-center text-md-left mt-3 pb-3">

            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold"><img src="{% static 'img/logo.png' %}"
                                                                      alt="EssayRoyal"></h6>
                <p>
                    At Essay Royal, we believe there is a better way to do essays. A more valuable, less invasive way
                    where customers are earned rather than bought. We’re obsessively passionate about it, and our
                    mission is to help people achieve it.
                </p>
                <p style="font-size: 12px;">
                    "STUDY UNIVERSE" LLC <br>
                    Uzbekistan <br>
                    Company registration number: 646746
                </p>
            </div>

            <hr class="w-100 clearfix d-md-none">

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Blog</h6>
                {% for article in articles %}
                    <p>
                        <a href="{% url 'appblog:article' article.id %}">{{ article }}</a>
                    </p>
                {% endfor %}
                <p>
                    <a href="{% url 'appblog:main' %}">More</a>
                </p>
            </div>
            <hr class="w-100 clearfix d-md-none">

            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Pages</h6>
                {% get_flatpages as flatpages %}
                {% for page in flatpages %}
                    <p>
                        <a href="{{ page.url }}">{{ page.title }}</a>
                    </p>
                {% endfor %}
            </div>

            <hr class="w-100 clearfix d-md-none">

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Sitemap</h6>
                <ul id="tree">
                    <li><a href="/">Home</a></li>
                    <li><a href="{% url 'appblog:main' %}">Blog</a></li>
                    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                    <li>
                        <a href="#"><i class="fas fa-angle-right rotate pr-2"></i>
                            Pages
                        </a>
                        <ul class="pt-3">
                            <li><a href="/pages/about/">About us</a></li>
                            <li><a href="/pages/faq/">FAQ</a></li>
                            <li><a href="/pages/freelance-writer/">Become a Freelance Writer</a></li>
                            <li><a href="/pages/privacy-policy/">Privacy Policy</a></li>
                            <li><a href="/pages/term/">Terms And Conditions</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>

        <hr>

        <div class="row d-flex align-items-center">

            <div class="col-md-7 col-lg-8">

                <p class="text-center text-md-left">© 2019 Copyright:
                    <a href="https://essayroyal.com/">
                        <strong> EssayRoyal.com</strong>
                    </a>
                </p>

            </div>
            <div class="col-md-5 col-lg-4 ml-lg-0">

                {#                <div class="text-center text-md-right">#}
                {#                    <ul class="list-unstyled list-inline">#}
                {#                        <li class="list-inline-item">#}
                {#                            <a class="btn-floating btn-sm rgba-white-slight mx-1">#}
                {#                                <i class="fab fa-facebook-f"></i>#}
                {#                            </a>#}
                {#                        </li>#}
                {#                        <li class="list-inline-item">#}
                {#                            <a class="btn-floating btn-sm rgba-white-slight mx-1">#}
                {#                                <i class="fab fa-twitter"></i>#}
                {#                            </a>#}
                {#                        </li>#}
                {#                        <li class="list-inline-item">#}
                {#                            <a class="btn-floating btn-sm rgba-white-slight mx-1">#}
                {#                                <i class="fab fa-google-plus-g"></i>#}
                {#                            </a>#}
                {#                        </li>#}
                {#                        <li class="list-inline-item">#}
                {#                            <a class="btn-floating btn-sm rgba-white-slight mx-1">#}
                {#                                <i class="fab fa-linkedin-in"></i>#}
                {#                            </a>#}
                {#                        </li>#}
                {#                    </ul>#}
                {#                </div>#}

            </div>

        </div>

    </div>

</footer>