{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/fm.revealator.jquery.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block title %}
    Essay Royal
{% endblock %}

{% block home %}
    {% include 'home/header.html' %}
{% endblock %}

{% block content %}

    <div class="container revealator-zoomin" id="why-us">
        {% include 'home/why-us.html' %}
    </div>

    {% include 'home/why-essay-royal.html' %}

    <div class="container revealator-zoomin" id="offers">
        {% include 'home/what-we-can-offer.html' %}
    </div>

    {% include 'home/how-it-works.html' %}

    <div class="container revealator-zoomin">
        {% include 'home/feedback.html' %}
    </div>

    <div class="container revealator-zoomin" id="contact-us">
        {% include 'home/write-tu-us.html' %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/fm.revealator.jquery.min.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}