{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/fm.revealator.jquery.min.css' %}">
    <style>
        html,
        body,
        header,
        .view {
            height: 100%;
        }

        @media (max-width: 740px) {
            html,
            body,
            header,
            .view {
                height: 1100px;
            }
        }

        @media (min-width: 800px) and (max-width: 850px) {
            html,
            body,
            header,
            .view {
                height: 700px;
            }
        }

        .accordion.md-accordion.accordion-5 .card .card-header {
            background: -moz-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
            background: -webkit-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
            background: -o-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
            background: -ms-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
            background: linear-gradient(to right, #FDA10E 0%, #FF6C0D 100%);
        }

        .md-outline.select-wrapper + label {
            top: .5em !important;
            z-index: 2 !important;
        }

        #per_page, #total_cost {
            font-size: 24px;
        }
    </style>
{% endblock %}

{% block title %}
    Essay Royal
{% endblock %}

{% block home %}
    <div class="view"
         style="background-image: url('{% static 'img/main-bg.png' %}'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="mask rgba-indigo-strong d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="row pt-lg-5 mt-lg-5 align-items-center">
                    <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left wow fadeInLeft"
                         data-wow-delay="0.3s">
                        <h1 class="display-4 font-weight-bold">
                            Need to write an essay?
                        </h1>
                        <h1 class="display-4 font-weight">
                            Make it happen!
                        </h1>
                        <hr class="hr-light">
                        <h6 class="mb-3">
                            We are providing professional writing service by the cheapest rates in a shortest deadlines.
                        </h6>
{#                        <a class="btn btn-outline-white">Learn more</a>#}
                    </div>

                    <div class="col-md-6 col-xl-5 mb-4">
                        {% include 'home/calculate.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="container revealator-zoomin" id="why-us">
        {% include 'home/why-us.html' %}
    </div>

    {% include 'home/why-essay-royal.html' %}

    <div class="container revealator-zoomin" id="offers">
        {% include 'home/what-we-can-offer.html' %}
    </div>

    {% include 'home/how-it-works.html' %}

    <div class="container revealator-zoomin">
        {% include 'home/feedback.html' %}
    </div>

    <div class="container revealator-zoomin" id="contact-us">
        {% include 'home/write-tu-us.html' %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/fm.revealator.jquery.min.js' %}"></script>
    <script>
        $(document).ready(function () {

            $(".scroll").click(function (event) {
                event.preventDefault();
                let full_url = this.href;
                let parts = full_url.split("#");
                let trgt = parts[1];
                let target_offset = $("#" + trgt).offset();
                let target_top = target_offset.top;
                $('html, body').animate({scrollTop: target_top + -170}, 500);
            });

            function fnCalculate(data) {
                $('#per_page').text(`$${data.per_page}`);
                $('#total_cost').text(`$${data.total_cost}`);
            }

            function fnCount() {
                let typeOrder = $('#id_type_order').val(); // 4
                let pagesOrder = $('#id_pages_order').val(); // 4
                let date = $('#ddate-picker').val(); // 30-05-2019
                let time = $('#ttime-picker').val(); // 17:30
                let dataObj = {
                    typeOrder: typeOrder,
                    pagesOrder: pagesOrder,
                    date: date,
                    time: time
                };
                ajaxQyery('calculate', dataObj, fnCalculate);
            }

            let listChangeCalculate = ['#id_type_order', '#id_pages_order', '#ddate-picker', '#ttime-picker'];

            for (let i = 0; i < listChangeCalculate.length; i++) {
                $(listChangeCalculate[i]).change(function () {
                    fnCount();
                })
            }

            objectFitImages();
            jarallax(document.querySelectorAll('.jarallax'));

            $('.mdb-select').select2({
                width: '100%'
            });


            let currentDate = new Date(new Date().getTime() + (24 * 16) * 60 * 60 * 1000);

            $('.datepicker').datetimepicker({
                format: 'd-m-Y',
                value: currentDate,
                timepicker: false
            });
            $('.timepicker').datetimepicker({
                format: "H:i",
                value: currentDate,
                datepicker: false
            });
        })
    </script>
{% endblock %}