{% extends 'base.html' %}
{% load static %}

{% block css %}
    <style>
        html,
        body,
        header,
        .view {
            height: 100%;
        }

        @media (max-width: 740px) {
            html,
            body,
            header,
            .view {
                height: 1100px;
            }
        }

        @media (min-width: 800px) and (max-width: 850px) {
            html,
            body,
            header,
            .view {
                height: 700px;
            }
        }

        .accordion.md-accordion.accordion-5 .card .card-header {
            background: -moz-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
            background: -webkit-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
            background: -o-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
            background: -ms-linear-gradient(left, #FDA10E 0%, #FF6C0D 100%);
            background: linear-gradient(to right, #FDA10E 0%, #FF6C0D 100%);
        }
    </style>
{% endblock %}

{% block title %}
    Essay Royal
{% endblock %}

{% block home %}
    <div class="view"
         style="background-image: url('{% static 'img/main-bg.png' %}'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="mask rgba-indigo-strong d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="row pt-lg-5 mt-lg-5 align-items-center">
                    <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left wow fadeInLeft"
                         data-wow-delay="0.3s">
                        <h1 class="display-4 font-weight-bold">
                            Need write an essay?
                        </h1>
                        <h1 class="display-4 font-weight">
                            Make it happen!
                        </h1>
                        <hr class="hr-light">
                        <h6 class="mb-3">
                            We are providing professional writing service by the cheapest rates in a shortest deadlines.
                        </h6>
                        <a class="btn btn-outline-white">Learn more</a>
                    </div>

                    <div class="col-md-6 col-xl-5 mb-4">
                        <div class="card wow fadeInRight" data-wow-delay="0.3s">
                            <div class="card-body z-depth-2">
                                <div class="text-center">
                                    <h3 class="dark-grey-text">
                                        <strong>Write to us:</strong>
                                    </h3>
                                    <hr>
                                </div>
                                <div class="md-form">
                                    <i class="fa fa-user prefix grey-text"></i>
                                    <input type="text" id="form3" class="form-control">
                                    <label for="form3">Your name</label>
                                </div>
                                <div class="md-form">
                                    <i class="fa fa-envelope prefix grey-text"></i>
                                    <input type="text" id="form2" class="form-control">
                                    <label for="form2">Your email</label>
                                </div>
                                <div class="md-form">
                                    <i class="fa fa-pencil-alt prefix grey-text"></i>
                                    <textarea type="text" id="form8" class="md-textarea form-control"
                                              rows="3"></textarea>
                                    <label for="form8">Your message</label>
                                </div>
                                <div class="text-center mt-3">
                                    <button class="btn bg-btn">Send</button>
                                    <hr>
                                    <fieldset class="form-check">
                                        <input class="form-check-input" type="checkbox" id="checkbox1">
                                        <label class="form-check-label" for="checkbox1" class="dark-grey-text">Subscribe
                                            me to the newsletter</label>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="container">
        {% include 'home/why-us.html' %}
    </div>

    {% include 'home/why-essay-royal.html' %}

    <div class="container">
        {% include 'home/what-we-can-offer.html' %}
    </div>

    {% include 'home/how-it-works.html' %}

    <div class="container">
        {% include 'home/feedback.html' %}
    </div>

    <div class="container">
        {% include 'home/write-tu-us.html' %}
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            objectFitImages();
            jarallax(document.querySelectorAll('.jarallax'));
        })
    </script>
{% endblock %}