{% load static %}
<script src="{% static 'js/js.cookie.js' %}"></script>
<!-- JQuery -->
<script src="{% static 'js/libs/jquery-3.3.1.min.js' %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'js/libs/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/libs/bootstrap.min.js' %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'js/libs/mdb.min.js' %}"></script>
<!--Initializations-->
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

<script src="{% static 'js/libs/jquery.datetimepicker.full.min.js' %}"></script>
<script src="{% static 'js/libs/datatables.min.js' %}"></script>
<script src="{% static 'js/libs/select2.min.js' %}"></script>
{#<script src="{% static 'js/jquery-explr-1.4.js' %}"></script>#}

<script src="{% static 'js/base.js' %}"></script>
<script src="{% static 'js/ajax-query.js' %}"></script>