
.view-order {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  .own-d-grid {
    display: grid;
    grid-template-columns: 1fr;
    table.own-table {
      width: 100%;
      border-right: 1px solid #ccc;
      tr {
        border-bottom: 1px solid #ccc;
      }
      tr th {
        text-transform: uppercase;
        width: 150px;
        font-size: 13px;
        padding: 5px;
        color: #696969;
      }
      tr td {
        font-size: 14px;
        padding: 5px;
        color: #404040;
      }
    }
  }
  .description {
    display: inline-block;
    width: 100%;
    &-text {
      margin-left: 10px;
      padding: 5px 10px;
    }
  }
  ul.files {
    margin: 0;
    padding: 0 0 0 35px;
    display: inline-block;
  }
}

.writer-result {
  padding: 10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}