{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin-dashboard.css' %}">
    <style>
        .md-form {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }

        ul.course li {
            border: none;
        }

        ul.task {
            box-shadow: 0 3px 3px 0 #c3c3c3;
        }
    </style>
{% endblock %}

{% block title %}
    Course {{ course.title }} detail
{% endblock %}

{% block content %}

    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="card">
                    <div class="card-body">

                        <h4 class="font-weight-bold amber-lighter-hover">Course: {{ course.title }}</h4>
                        <ul class="list-group mb-3 mr-5 course">
                            <li class="list-group-item">
                                <div class="md-v-line"></div>
                                <i class="fas fa-signature mr-4 pr-3"></i>
                                <strong class="ml-1">
                                    Files:
                                    {% for file in course.coursefile_set.all %}
                                        {% if forloop.first %}
                                            <a href="{{ file.file.url }}">{{ file.filename }}</a>
                                        {% else %}
                                            , <a href="{{ file.file }}">{{ file.filename }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </strong>
                            </li>
                            <li class="list-group-item">
                                <div class="md-v-line"></div>
                                <i class="fas fa-signature mr-4 pr-3"></i>
                                <strong class="ml-1">Price:</strong> ${{ course.price }}
                            </li>
                            <li class="list-group-item">
                                <div class="md-v-line"></div>
                                <i class="fas fa-signature mr-4 pr-3"></i>
                                <strong class="ml-1">Created datetime:</strong> {{ course.created_datetime }}
                            </li>
                        </ul>

                        <button type="button" class="btn bg-btn mb-5" data-toggle="modal"
                                data-target="#basicExampleModal">
                            Add task
                        </button>

                        <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    {% include 'dashboard/manager/courses/form.html' %}
                                </div>
                            </div>
                        </div>

                        {% for task in course.task_set.all %}
                            <div class="z-depth-3 py-5 mb-5">
                                <h5 class="font-weight-bold amber-lighter-hover ml-5 mb-1">Task: {{ task.title }}</h5>
                                <ul class="list-group ml-5 mr-5 mb-3">
                                    {% if task.question %}
                                        <li class="list-group-item">
                                            <div class="md-v-line"></div>
                                            <i class="fas fa-signature mr-4 pr-3"></i><strong
                                                class="ml-1">Question:</strong> {{ task.question }}
                                        </li>
                                    {% endif %}
                                    <li class="list-group-item">
                                        <div class="md-v-line"></div>
                                        <i class="fas fa-at mr-5"></i>
                                        <strong>Pages:</strong> {{ task.pages }}
                                    </li>
                                    {% if task.description %}
                                        <li class="list-group-item">
                                            <div class="md-v-line"></div>
                                            <i class="fas fa-phone mr-5"></i>
                                            <strong>Description:</strong> {{ task.description }}
                                        </li>
                                    {% endif %}
                                    <li class="list-group-item">
                                        <div class="md-v-line"></div>
                                        <i class="fas fa-university mr-5"></i>
                                        <strong>Due date:</strong> {{ task.due_date }}
                                    </li>
                                    <li class="list-group-item">
                                        <div class="md-v-line"></div>
                                        <i class="fas fa-level-up-alt mr-5"></i><strong
                                            class="ml-2">Price for writer:</strong> ${{ task.price_for_writer }}
                                    </li>
                                    <li class="list-group-item">
                                        <div class="md-v-line"></div>
                                        <i class="fas fa-at mr-5"></i><strong>
                                        Price for customer:</strong> ${{ task.price_for_customer }}
                                    </li>
                                    {% if task.writer is not None %}
                                        <li class="list-group-item">
                                            <div class="md-v-line"></div>
                                            <i class="fas fa-dollar-sign mr-5"></i>
                                            <strong class="ml-2">Writer:</strong>
                                            {{ task.writer }}
                                        </li>
                                    {% endif %}
                                    {% if task.price_status == 2 %}
                                        <li class="list-group-item">
                                            <div class="md-v-line"></div>
                                            <i class="fas fa-dollar-sign mr-5"></i>
                                            <strong class="ml-2">Status:</strong> {{ task.status }}
                                        </li>
                                    {% endif %}
                                    <li class="list-group-item">
                                        <div class="md-v-line"></div>
                                        <i class="fas fa-dollar-sign mr-5"></i>
                                        <strong class="ml-2">Created date time:</strong>
                                        {{ task.created_datetime }}
                                    </li>
                                </ul>

                                {% if task.price_status == 0 %}
                                    <div class="ml-5">
                                        <form method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="btn bg-btn" name="send_customer" value="{{ task.id }}">Send customer</button>
                                        </form>
                                    </div>
                                {% elif task.price_status == 2 %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4 mb-md-0 mb-5">
                {% include 'dashboard/manager/profile.html' %}
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('.mdb-select').materialSelect();
        });
    </script>
{% endblock %}