{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/customer.css' %}">
{% endblock %}

{% block title %}
    View Order
{% endblock %}

{% block content %}

    <div class="container pt-5">

        <div class="row">
            <div class="col-12">
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="w-responsive text-center mx-auto">
                            <h4 class="text-center text-primary" style="color: #757575;">{{ order.title.upper }}
                                <span class="badge badge-pill bg-btn">
                                    {% if order.status == 0 %}
                                        <i class="fas fa-search fa-xs" aria-hidden="true" title="ORDER IN REVIEW"></i>
                                    {% elif order.status == 1 %}
                                        <i class="fas fa-spinner fa-pulse fa-xs" aria-hidden="true"
                                           title="ORDER IN PROGRESS"></i>
                                    {% elif order.status == 2 %}
                                        <i class="fas fa-check fa-xs" aria-hidden="true" title="COMPLETED"></i>
                                    {% elif order.status == 3 %}
                                        <i class="fas fa-cash-register fa-xs" aria-hidden="true" title="MODERATION"></i>
                                    {% endif %}
                                </span>
                            </h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card mb-2">
                    <div class="card-body">
                        <h4 class="font-weight-bold amber-lighter-hover mb-3">Detail info</h4>
                        <table class="table" style="margin-bottom: 0;">
                            <tr>
                                <th>Type of order:</th>
                                <td>{{ order.type_order }}</td>
                            </tr>
                            <tr>
                                <th>Format of order:</th>
                                <td>{{ order.format_order }}</td>
                            </tr>
                            <tr>
                                <th>Deadline:</th>
                                <td>{{ order.deadline }}</td>
                            </tr>
                            <tr>
                                <th>Per page:</th>
                                <td>${{ order.per_page|floatformat }}</td>
                            </tr>
                            <tr>
                                <th>Number pages:</th>
                                <td>{{ order.number_page }}</td>
                            </tr>
                            <tr>
                                <th>Total cost:</th>
                                <td>${{ order.total_cost|floatformat }}</td>
                            </tr>
                        </table>

                        {% if order.description %}
                            <h4 class="font-weight-bold amber-lighter-hover mt-3 mb-3">Description: </h4>
                            <div class="description">
                                <div class="description-text">
                                    {% autoescape off %}{{ order.description }}{% endautoescape %}
                                </div>
                            </div>
                        {% endif %}

                        {% if order.filesorder_set.all %}
                            <h4 class="font-weight-bold amber-lighter-hover mt-3 mb-3">Files: </h4>
                            <ul class="files">
                                {% for file in order.filesorder_set.all %}
                                    <li>
                                        <a href="{{ file.file.url }}">{{ file.filename }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="text-right">
                            {% if order.customer == request.user %}
                                <a href="{% url 'apporders:update_order' order.id %}" type="submit" class="btn bg-btn">Edit</a>
                            {% else %}
                                <a href="{% url 'apporders:published_order' order.id %}" type="submit" class="btn bg-btn">Published</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{% endblock %}