{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/writer-view-order.css' %}">
    <link rel="stylesheet" href="{% static 'css/libs/chat.min.css' %}">
{% endblock %}

{% block title %}
    View Order
{% endblock %}

{% block content %}

    <div class="container pt-5 pb-4">

        <div class="row">
            <div class="col-12">
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="w-responsive text-center mx-auto">
                            <h4 class="text-center text-primary" style="color: #757575;">{{ order.title.upper }}
                                <span class="badge badge-pill bg-btn">
                                    {% if order.status == 0 %}
                                        <i class="fas fa-search fa-xs" aria-hidden="true" title="ORDER IN REVIEW"></i>
                                    {% elif order.status == 1 %}
                                        <i class="fas fa-spinner fa-pulse fa-xs" aria-hidden="true"
                                           title="ORDER IN PROGRESS"></i>
                                    {% elif order.status == 2 %}
                                        <i class="fas fa-check fa-xs" aria-hidden="true" title="COMPLETED"></i>
                                    {% endif %}
                                </span>
                            </h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row mb-2">
            <div class="col-12 col-md-6">
                <div class="card mb-2">
                    <div class="card-body">
                        <h4 class="font-weight-bold amber-lighter-hover mb-3">Detail info</h4>
                        <table class="table" style="margin-bottom: 0;">
                            <tr>
                                <th>Type of order:</th>
                                <td>{{ order.type_order }}</td>
                            </tr>
                            <tr>
                                <th>Format of order:</th>
                                <td>{{ order.format_order }}</td>
                            </tr>
                            <tr>
                                <th>Deadline:</th>
                                <td>{{ order.deadline }}</td>
                            </tr>
                            <tr>
                                <th>Per page:</th>
                                <td>${{ order.per_page }}</td>
                            </tr>
                            <tr>
                                <th>Number pages:</th>
                                <td>{{ order.number_page }}</td>
                            </tr>
                            <tr>
                                <th>Total cost:</th>
                                <td>${{ order.total_cost }}</td>
                            </tr>
                        </table>

                        {% if order.description %}
                            <h4 class="font-weight-bold amber-lighter-hover mt-3 mb-3">Description: </h4>
                            <div class="description">
                                <div class="description-text">
                                    {% autoescape off %}{{ order.description }}{% endautoescape %}
                                </div>
                            </div>
                        {% endif %}

                        {% if order.filesorder_set.all %}
                            <h4 class="font-weight-bold amber-lighter-hover mt-3 mb-3">Files: </h4>
                            <ul class="files">
                                {% for file in order.filesorder_set.all %}
                                    <li>
                                        <a href="{{ file.file.url }}">{{ file.filename }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <hr>
                        {% endif %}
                    </div>
                </div>
                {% include 'dashboard/customer/order/additional.html' %}
            </div>
            <div class="col-12 col-md-6">
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="w-responsive text-center mx-auto">
                            <h3 class="text-monospace">Chat</h3>
                        </div>
                    </div>
                </div>
                {% include 'dashboard/customer/order/chat.html' %}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="w-responsive text-center mx-auto">
                            <button type="button" class="btn bg-btn" data-toggle="modal"
                                    data-target="#basicExampleModal">
                                Completed order
                            </button>
                            <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">{{ order.title.upper }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success" data-dismiss="modal">Cancel
                                            </button>
                                            <form action="{% url 'apporders:completed' order.id %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Done</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock %}

{% block scripts %}
    <script>
        window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';
        $('p').addClass('white-darker-hover');
    </script>
{% endblock %}