{% extends 'base.html' %}
{% load static %}

{% block css %}
    <style>
        .amber-lighter-hover {
            color: #ffa000;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .white-darker-hover {
            -webkit-transition: .4s;
            transition: .4s;
        }

        .white-darker-hover:hover {
            -webkit-transition: .4s;
            transition: .4s;
            color: #d9d9d9;
        }

        table.table tr th, table.table tr td {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .description {
            display: inline-block;
            width: 100%;
        }

        .description-text {
            margin-left: 10px;
            padding: 5px 10px;
        }
    </style>
{% endblock %}

{% block title %}

{% endblock %}

{% block content %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="w-responsive text-center mx-auto">
                            <h4 class="text-primary" style="color: #757575">
                                Edit order
                                <span class="badge badge-pill bg-btn">
                                    {% if order.status == 0 %}
                                        <i class="fas fa-search fa-xs" aria-hidden="true" title="ORDER IN REVIEW"></i>
                                    {% elif order.status == 1 %}
                                        <i class="fas fa-spinner fa-pulse fa-xs" aria-hidden="true"
                                           title="ORDER IN PROGRESS"></i>
                                    {% elif order.status == 2 %}
                                        <i class="fas fa-check fa-xs" aria-hidden="true" title="COMPLETED"></i>
                                    {% endif %}
                                </span>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">
                <div class="col-12">
                    <div class="card mb-2">
                        <table class="table">
                            {% for field in form %}
                                <tr>
                                    <td width="120">{{ field.label }}</td>
                                    <td>{{ field }}</td>
                                </tr>
                                {% if field.errors %}
                                    <tr>
                                        <td></td>
                                        <td>{{ field.errors }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            <tr>
                                <td><label for="id_attached-files">Attached files</label></td>
                                <td>
                                    <input type="file" name="attached-files" id="id_attached-files" multiple>
                                    <small>.xls .doc .docx .pdf .jpg .png .excel</small>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card mb-2">
                        <div class="card-body">
                            <div class="text-right">
                                <button type="submit" class="btn bg-btn">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}