{% extends 'base.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block title %}
    Blog
{% endblock %}

{% block content %}

    <section class="my-5">

        {% for object in object_list %}
            <div class="row">

            <div class="col-lg-5 col-xl-4">

                <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4">
                    <img class="img-fluid" src="{{ object.poster.url }}"
                         alt="Sample image">
                    <a href="{% url 'blog-detail' object.id object.slug %}">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

            </div>

            <div class="col-lg-7 col-xl-8">

                <h3 class="font-weight-bold mb-3"><strong>{{ object.title }}</strong></h3>

                <div class="dark-grey-text">
                    {% autoescape off %}{{ object.description }}{% endautoescape %}
                </div>

                <p>by <a class="font-weight-bold">Admin</a>, {{ object.created_datetime }}</p>

                {% for tag in object.tags.all %}
                    <a class="btn btn-light btn-sm">{{ tag }}</a>
                {% endfor %}


            </div>

        </div>

            {% if forloop.last %}
            {% else %}
                <hr class="my-5">
            {% endif %}
        {% endfor %}


    </section>

{% endblock %}

{% block scripts %}

{% endblock %}