{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin-dashboard.css' %}">
{% endblock %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}

    {% if profile == 'admin' %}
        {% include 'dashboard/admin/orders/index.html' %}
    {% elif profile == 'manager' %}
        {% include 'dashboard/manager/orders/index.html' %}
    {% elif profile == 'writer' %}
        {% include 'dashboard/writer/index.html' %}
    {% elif profile == 'customer' %}
        {% include 'dashboard/customer/index.html' %}
    {% endif %}

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}