<ul class="nav nav-tabs md-tabs nav-justified primary-color dashboard-own-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#panel555" role="tab">
            <i class="fas fa-user pr-2"></i>Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#panel666" role="tab">
            <i class="fas fa-money-check-alt pr-2"></i>Balance: $0</a>
    </li>
</ul>

<div class="tab-content">

    <div class="tab-pane fade in show active" id="panel555" role="tabpanel">

        <div class="row">
            <div class="col-md-3">
                <ul class="nav md-pills pills-primary flex-column" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#panel21" role="tab">
                            <i class="fas fa-file-alt ml-2"></i>
                            Profile details
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#panel22" role="tab">
                            <i class="fas fa-file-alt ml-2"></i>
                            Orders & invoices
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#panel23" role="tab">
                            <i class="fas fa-address-card ml-2"></i>
                            Billing details
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#panel24" role="tab">
                            <i class="fas fa-download ml-2"></i>
                            Downloads
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <div class="tab-content vertical">
                    <div class="tab-pane fade in show active" id="panel21" role="tabpanel">
                        {% include 'dashboard/tabs/panel121.html' %}
                    </div>
                    <div class="tab-pane fade" id="panel22" role="tabpanel">
                        {% include 'dashboard/tabs/panel122.html' %}
                    </div>
                    <div class="tab-pane fade" id="panel23" role="tabpanel">
                        <h5 class="my-2 h5">Panel 3</h5>
                    </div>
                    <div class="tab-pane fade" id="panel24" role="tabpanel">
                        <h5 class="my-2 h5">Panel 4</h5>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane fade" id="panel666" role="tabpanel">

        <p class="pt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam
            minima, soluta
            doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur.
            Tempora, placeat
            ratione porro voluptate odit minima.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima,
            soluta doloribus
            reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora,
            placeat ratione
            porro voluptate odit minima.</p>

    </div>

</div>