{% extends 'dashboard-v2/w/index.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/customer.css' %}">
    <link rel="stylesheet" href="{% static 'css/libs/chat.min.css' %}">
    <style>
        strong.file-name {
            width: 125px;
            padding-right: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
        }

        p.text-smaller {
            font-size: 12px;
        }

        .my-message {
            background-color: #f6faff !important;
        }
    </style>
{% endblock %}

{% block title %}
    Dashboard - Chat
{% endblock %}

{% block pod-menu %}
    {% include 'dashboard-v2/w/chat/members.html' %}
{% endblock %}

{% block section %}

    {% include 'dashboard-v2/w/chat/messages.html' %}

{% endblock %}

{% block scripts %}
    {#    <script src="{% static 'js/chats.js' %}"></script>#}
    <script src="{% static 'js/fu/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'js/fu/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'js/fu/jquery.fileupload.js' %}"></script>
    <script>
        $(function () {
            $('#fileupload').fileupload({
                dataType: 'json',
                done: function (e, data) {
                    $.each(data.originalFiles, function (index, file) {

                        {#$('.fileupload-text').text('upload completed ' + file.name);#}

                    });
                }
            });
        });

        function sendChatAjax() {

            let data = $('#formdata').serialize();
            let _file = $('#id_files').val();

            $.ajax({
                method: 'POST',
                data: data + '&upload_files=' + _file,
                dataType: 'json',
                success: function (msg) {
                    if (msg.ok) {
                        $('#chat_message_box').val('');
                    }
                }
            });
        }
    </script>
{% endblock %}