{% load static %}

<div class="chat-message">
    <input type="hidden" id="request_user" value="{{ user.get_full_name }}">
    <ul class="list-unstyled chat">
        {% for message in messages_from_chat %}
            {% if message.owner == user %}
                <li class="d-flex justify-content-between mb-4">
                <div class="chat-body white p-3 ml-2 z-depth-1 my-message" style="width: 100%">
                    <div class="header">
                        <strong class="primary-font">
                            {% if message.owner.get_full_name %}
                                {{ message.owner.get_full_name }}
                            {% else %}
                                {{ message.owner.email }}
                            {% endif %}
                        </strong>
                        <small class="pull-right text-muted"><i class="far fa-clock"></i>
                            {{ message.created_time.hour }}:{{ message.created_time.minute }}
                             {{ message.created_date.day }}.{{ message.created_date.month }}.{{ message.created_date.year }}
                        </small>
                    </div>
                    <hr class="w-100">
                    <p class="mb-0">
                        {{ message.message }}
                    </p>
                </div>
                <img src="
                {% if message.owner.avatar %}
                    {{ message.owner.avatar.url }}
                {% else %}
                    {% static 'img/noimage.png' %}
                {% endif %}
                " class="avatar rounded-circle mr-2 ml-lg-3 ml-0 z-depth-1"
                     style="width: 50px; height: 50px;">
            </li>
            {% else %}
                <li class="d-flex justify-content-between mb-4">
                    <img src="
                {% if message.owner.avatar %}
                    {{ message.owner.avatar.url }}
                {% else %}
                    {% static 'img/noimage.png' %}
                {% endif %}
                " class="avatar rounded-circle mr-2 ml-lg-3 ml-0 z-depth-1"
                         style="width: 50px; height: 50px;">
                    <div class="chat-body white p-3 ml-2 z-depth-1" style="width: 100%">
                        <div class="header">
                            <strong class="primary-font">
                                {% if message.owner.get_full_name %}
                                    {{ message.owner.get_full_name }}
                                {% else %}
                                    {{ message.owner.email }}
                                {% endif %}
                            </strong>
                            <small class="pull-right text-muted"><i class="far fa-clock"></i>
                                {{ message.created_time.hour }}:{{ message.created_time.minute }}
                                {{ message.created_date.day }}.{{ message.created_date.month }}.{{ message.created_date.year }}
                            </small>
                        </div>
                        <hr class="w-100">
                        <p class="mb-0">
                            {{ message.message }}
                        </p>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>