{% extends 'base.html' %}
{% load static %}

{% block css %}
    <style>
        .blockquote p {
            padding: 0;
        }

        table.table td {
            vertical-align: middle;
            padding: 0 0 0 10px;
        }
        input.inp-title {
            width: 145px;
        }
        input.inp-number {
            width: 58px;
        }
    </style>
{% endblock %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-12 col-md-4">
            <blockquote class="blockquote bq-success">
                <p class="bq-title">Type of order</p>
            </blockquote>
            <table class="table table table-striped" style="border: 1px solid #ccc;">
                <form action="{% url 'admin' %}" method="post">{% csrf_token %}
                    <tr>
                        <td colspan="2"><input type="text" name="title" placeholder="Title" class="inp-title"></td>
                        <td><input type="number" name="price_for_writer" placeholder="Writer" class="inp-number"></td>
                        <td><input type="number" name="price_for_client" placeholder="Client" class="inp-number"></td>
                        <td>
                            <button class="btn btn-primary btn-sm" name="type_order">Add</button>
                        </td>
                    </tr>
                </form>
                {% for type_order in types_order %}
                    <tr>
                        <td colspan="2">{{ type_order }}</td>
                        <td>${{ type_order.price_writer }}</td>
                        <td>${{ type_order.price_client }}</td>
                        <td>
                            <form action="{% url 'admin' %}" method="post">{% csrf_token %}
                                <button class="btn btn-danger btn-sm" name="type_order_remove"
                                        value="{{ type_order.id }}">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-12 col-md-4">
            <blockquote class="blockquote bq-success">
                <p class="bq-title">Format of order</p>
            </blockquote>
            <table class="table table table-striped" style="border: 1px solid #ccc;">
                <form action="{% url 'admin' %}" method="post">{% csrf_token %}
                    <tr>
                        <td colspan="2"><input type="text" name="title" class="inp-title"></td>
                        <td>
                            <button class="btn btn-primary btn-sm" name="format_order">Add</button>
                        </td>
                    </tr>
                </form>
                {% for format_order in formats_order %}
                    <tr>
                       <td colspan="2">{{ format_order }}</td>
                        <td>
                            <form action="{% url 'admin' %}" method="post">{% csrf_token %}
                                <button class="btn btn-danger btn-sm" name="format_order_remove"
                                        value="{{ format_order.id }}">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-12 col-md-4">
            <blockquote class="blockquote bq-success">
                <p class="bq-title">Price of Deadline</p>
            </blockquote>
            <table class="table table table-striped" style="border: 1px solid #ccc;">
                <form action="{% url 'admin' %}" method="post">{% csrf_token %}
                    <tr>
                        <td><input type="number" name="start_day" placeholder="From" class="inp-number"></td>
                        <td><input type="number" name="end_day" placeholder="to" class="inp-number"></td>
                        <td><input type="number" name="price" placeholder="Price" class="inp-number"></td>
                        <td>
                            <button class="btn btn-primary btn-sm" name="price_deadline">Add</button>
                        </td>
                    </tr>
                </form>
                {% for price in price_deadline %}
                    <tr>
                        <td colspan="2">
                            From {{ price.start_day }} to {{ price.end_day }} days
                        </td>
                        <td> ${{ price.price }}</td>
                        <td>
                            <form action="{% url 'admin' %}" method="post">{% csrf_token %}
                                <button class="btn btn-danger btn-sm" name="price_deadline_remove"
                                        value="{{ format_order.id }}">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}

{% block scripts %}

{% endblock %}