{% extends 'base.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block title %}
    Order in review
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <blockquote class="blockquote bq-success">
                <p class="bq-title">Section Orders In Review</p>
            </blockquote>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table id="dtMaterialDesignExample" class="table table-striped" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="th-sm">Name
                    </th>
                    <th class="th-sm">Date
                    </th>
                    <th class="th-sm">End Date
                    </th>
                    <th class="th-sm">Customer
                    </th>
                    <th class="th-sm">Type
                    </th>
                    <th class="th-sm">Academic Level
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.title }}</td>
                        <td>{{ order.created_datetime }}</td>
                        <td>{{ order.deadline_writer }}</td>
                        <td>{{ order.client }}</td>
                        <td>{{ order.type_order }}</td>
                        <td>{{ order.client.academic_institution }}</td>
                    </tr>
                {% endfor %}

                </tbody>
                <tfoot>
                <tr>
                    <th class="th-sm">Name
                    </th>
                    <th class="th-sm">Date
                    </th>
                    <th class="th-sm">End Date
                    </th>
                    <th class="th-sm">Customer
                    </th>
                    <th class="th-sm">Type
                    </th>
                    <th class="th-sm">Academic Level
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#dtMaterialDesignExample').DataTable();
            $('#dtMaterialDesignExample_wrapper').find('label').each(function () {
                $(this).parent().append($(this).children());
            });
            $('#dtMaterialDesignExample_wrapper .dataTables_filter').find('input').each(function () {
                $('input').attr("placeholder", "Search");
                $('input').removeClass('form-control-sm');
            });
            $('#dtMaterialDesignExample_wrapper .dataTables_length').addClass('d-flex flex-row');
            $('#dtMaterialDesignExample_wrapper .dataTables_filter').addClass('md-form');
            $('#dtMaterialDesignExample_wrapper select').removeClass(
                'custom-select custom-select-sm form-control form-control-sm');
            $('#dtMaterialDesignExample_wrapper select').addClass('mdb-select');
            $('#dtMaterialDesignExample_wrapper .mdb-select').materialSelect();
            $('#dtMaterialDesignExample_wrapper .dataTables_filter').find('label').remove();
        });
    </script>
{% endblock %}