<div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">Are you sure?</p>
      </div>

      <!--Body-->
      <div class="modal-body">

        <i class="fas fa-times fa-4x animated rotateIn"></i>

      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
          <form action="{% url 'remove' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn  btn-outline-danger" id="id_remove" name="_remove" value="">Yes</button>
          </form>
        <a type="button" class="btn  btn-danger waves-effect" data-dismiss="modal">No</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>


<div class="tab-pane fade active show" id="panel83" role="tabpanel">
    <div class="table-responsive">
        <table class="table">
            <thead class="th-center">
            <tr>
                <th class="text-center">Status</th>
                <th align="middle">Title</th>
                <th>Type of order</th>
                <th>Per page</th>
                <th>Pages</th>
                <th class="text-center">Total cost</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody class="td-center">
            {% for order in orders %}
                <tr>
                    <td class="text-center">
                        {% if order.status == 0 %}
                            <i class="fas fa-search" title="ORDER IN REVIEW"></i>
                        {% elif order.status == 1 %}
                            <i class="fas fa-spinner fa-pulse" title="ORDER IN PROGRESS"></i>
                        {% elif order.status == 2 %}
                            <i class="fas fa-check" title="COMPLETED"></i>
                        {% endif %}
                    </td>
                    <td>{{ order.title }}</td>
                    <td>{{ order.type_order }}</td>
                    <td>${{ order.per_page }}</td>
                    <td>{{ order.number_page }}</td>
                    <td class="text-center">${{ order.total_cost }}</td>
                    <td class="text-center">
                        {% if order.status == 0 %}
                            <a href="{% url 'view_order' order.id %}" class="blue-text" data-toggle="tooltip"
                               data-placement="top" title=""
                               data-original-title="See results"><i class="far fa-eye"></i></a>
                            <a href="{% url 'update_order' order.id %}" class="teal-text" data-toggle="tooltip"
                               data-placement="top" title=""
                               data-original-title="Edit"><i
                                    class="fas fa-pencil-alt"></i></a>

                            <a class="red-text customer_remove_order" data-order-id="{{ order.id }}"
                                   data-toggle="modal"
                                   data-target="#modalConfirmDelete"
                                   data-original-title="Remove">
                                <i class="fas fa-times"></i>
                            </a>
                        {% else %}
                            <a href="{% url 'customer-progress_order' order.id %}" class="blue-text"
                               data-toggle="tooltip"
                               data-placement="top" title=""
                               data-original-title="See results"><i class="far fa-eye"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</div>